<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>anniu_0000</key>
      <dict>
        <key>frame</key>
        <string>{{686,363},{683,360}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{683.00,360.00}</string>
      </dict>
      <key>anniu_0001</key>
      <dict>
        <key>frame</key>
        <string>{{1323,1409},{635,337}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{635.00,337.00}</string>
      </dict>
      <key>anniu_0002</key>
      <dict>
        <key>frame</key>
        <string>{{686,1067},{637,340}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{637.00,340.00}</string>
      </dict>
      <key>anniu_0003</key>
      <dict>
        <key>frame</key>
        <string>{{1325,725},{616,329}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{616.00,329.00}</string>
      </dict>
      <key>anniu_0004</key>
      <dict>
        <key>frame</key>
        <string>{{1,1087},{683,360}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{683.00,360.00}</string>
      </dict>
      <key>anniu_0005</key>
      <dict>
        <key>frame</key>
        <string>{{1,725},{683,360}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{683.00,360.00}</string>
      </dict>
      <key>anniu_0006</key>
      <dict>
        <key>frame</key>
        <string>{{686,1},{683,360}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{683.00,360.00}</string>
      </dict>
      <key>anniu_0007</key>
      <dict>
        <key>frame</key>
        <string>{{686,1409},{635,337}}</string>
        <key>offset</key>
        <string>{-12.00,-4.50}</string>
        <key>sourceSize</key>
        <string>{683.00,360.00}</string>
      </dict>
      <key>anniu_0008</key>
      <dict>
        <key>frame</key>
        <string>{{686,725},{637,340}}</string>
        <key>offset</key>
        <string>{-12.00,-4.00}</string>
        <key>sourceSize</key>
        <string>{683.00,360.00}</string>
      </dict>
      <key>anniu_0009</key>
      <dict>
        <key>frame</key>
        <string>{{1325,1056},{616,329}}</string>
        <key>offset</key>
        <string>{-12.50,2.50}</string>
        <key>sourceSize</key>
        <string>{683.00,360.00}</string>
      </dict>
      <key>anniu_0010</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{683,360}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{683.00,360.00}</string>
      </dict>
      <key>anniu_0011</key>
      <dict>
        <key>frame</key>
        <string>{{1,363},{683,360}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{683.00,360.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.58</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>anniu.png</string>
      <key>realTextureFileName</key>
      <string>anniu.png</string>
      <key>textureFileName</key>
      <string>anniu.png</string>
      <key>size</key>
      <string>{1986,1762}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>a25</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>a26</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.51890</real>
        <key>anchorY</key>
        <real>0.51335</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>a27</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.51884</real>
        <key>anchorY</key>
        <real>0.51176</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>a28</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.52029</real>
        <key>anchorY</key>
        <real>0.49240</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>a29</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>a46</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>begin_btn</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>11</integer>
      </dict>
    </dict>
  </dict>
</plist>