<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bbxz_0000</key>
      <dict>
        <key>frame</key>
        <string>{{1,824},{511,394}}</string>
        <key>offset</key>
        <string>{3.50,38.50}</string>
        <key>sourceSize</key>
        <string>{606.00,471.00}</string>
      </dict>
      <key>bbxz_0001</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{562,373}}</string>
        <key>offset</key>
        <string>{-22.00,28.00}</string>
        <key>sourceSize</key>
        <string>{606.00,471.00}</string>
      </dict>
      <key>bbxz_0002</key>
      <dict>
        <key>frame</key>
        <string>{{1,376},{535,446}}</string>
        <key>offset</key>
        <string>{35.50,-12.50}</string>
        <key>sourceSize</key>
        <string>{606.00,471.00}</string>
      </dict>
      <key>bbxz_0003</key>
      <dict>
        <key>frame</key>
        <string>{{970,774},{454,403}}</string>
        <key>offset</key>
        <string>{32.00,16.00}</string>
        <key>sourceSize</key>
        <string>{606.00,471.00}</string>
      </dict>
      <key>bbxz_0004</key>
      <dict>
        <key>frame</key>
        <string>{{1,1220},{488,407}}</string>
        <key>offset</key>
        <string>{49.00,20.00}</string>
        <key>sourceSize</key>
        <string>{606.00,471.00}</string>
      </dict>
      <key>bbxz_0005</key>
      <dict>
        <key>frame</key>
        <string>{{1450,1},{454,442}}</string>
        <key>offset</key>
        <string>{32.00,3.50}</string>
        <key>sourceSize</key>
        <string>{606.00,471.00}</string>
      </dict>
      <key>bbxz_0006</key>
      <dict>
        <key>frame</key>
        <string>{{1403,1179},{454,394}}</string>
        <key>offset</key>
        <string>{32.00,28.50}</string>
        <key>sourceSize</key>
        <string>{606.00,471.00}</string>
      </dict>
      <key>bbxz_0007</key>
      <dict>
        <key>frame</key>
        <string>{{538,376},{454,396}}</string>
        <key>offset</key>
        <string>{32.00,23.50}</string>
        <key>sourceSize</key>
        <string>{606.00,471.00}</string>
      </dict>
      <key>bbxz_0008</key>
      <dict>
        <key>frame</key>
        <string>{{491,1220},{454,383}}</string>
        <key>offset</key>
        <string>{32.00,14.00}</string>
        <key>sourceSize</key>
        <string>{606.00,471.00}</string>
      </dict>
      <key>bbxz_0009</key>
      <dict>
        <key>frame</key>
        <string>{{514,824},{454,385}}</string>
        <key>offset</key>
        <string>{32.00,13.00}</string>
        <key>sourceSize</key>
        <string>{606.00,471.00}</string>
      </dict>
      <key>bbxz_0010</key>
      <dict>
        <key>frame</key>
        <string>{{947,1211},{454,383}}</string>
        <key>offset</key>
        <string>{32.00,14.00}</string>
        <key>sourceSize</key>
        <string>{606.00,471.00}</string>
      </dict>
      <key>bbxz_0011</key>
      <dict>
        <key>frame</key>
        <string>{{994,1},{454,382}}</string>
        <key>offset</key>
        <string>{32.00,14.50}</string>
        <key>sourceSize</key>
        <string>{606.00,471.00}</string>
      </dict>
      <key>bbxz_0012</key>
      <dict>
        <key>frame</key>
        <string>{{994,385},{454,364}}</string>
        <key>offset</key>
        <string>{32.00,23.50}</string>
        <key>sourceSize</key>
        <string>{606.00,471.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.58</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>bbxz.png</string>
      <key>realTextureFileName</key>
      <string>bbxz.png</string>
      <key>textureFileName</key>
      <string>bbxz.png</string>
      <key>size</key>
      <string>{1908,1774}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>layer</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.54125</real>
        <key>anchorY</key>
        <real>0.57962</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>12</integer>
      </dict>
    </dict>
  </dict>
</plist>