<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>chenggong_0000</key>
      <dict>
        <key>frame</key>
        <string>{{656,697},{564,148}}</string>
        <key>offset</key>
        <string>{0.50,-41.00}</string>
        <key>sourceSize</key>
        <string>{653.00,230.00}</string>
      </dict>
      <key>chenggong_0001</key>
      <dict>
        <key>frame</key>
        <string>{{656,233},{653,230}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{653.00,230.00}</string>
      </dict>
      <key>chenggong_0002</key>
      <dict>
        <key>frame</key>
        <string>{{656,1},{653,230}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{653.00,230.00}</string>
      </dict>
      <key>chenggong_0003</key>
      <dict>
        <key>frame</key>
        <string>{{656,465},{653,230}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{653.00,230.00}</string>
      </dict>
      <key>chenggong_0004</key>
      <dict>
        <key>frame</key>
        <string>{{1,465},{653,230}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{653.00,230.00}</string>
      </dict>
      <key>chenggong_0005</key>
      <dict>
        <key>frame</key>
        <string>{{1,233},{653,230}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{653.00,230.00}</string>
      </dict>
      <key>chenggong_0006</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{653,230}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{653.00,230.00}</string>
      </dict>
      <key>chenggong_0007</key>
      <dict>
        <key>frame</key>
        <string>{{1,697},{653,230}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{653.00,230.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.58</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>chenggong.png</string>
      <key>realTextureFileName</key>
      <string>chenggong.png</string>
      <key>textureFileName</key>
      <string>chenggong.png</string>
      <key>size</key>
      <string>{1356,932}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>cgdh</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
    </dict>
  </dict>
</plist>