<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>GameMove_0000</key>
      <dict>
        <key>frame</key>
        <string>{{178,308},{116,111}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{116.00,111.00}</string>
      </dict>
      <key>GameMove_0001</key>
      <dict>
        <key>frame</key>
        <string>{{1380,219},{87,66}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{87.00,66.00}</string>
      </dict>
      <key>GameMove_0002</key>
      <dict>
        <key>frame</key>
        <string>{{1778,313},{87,66}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{87.00,66.00}</string>
      </dict>
      <key>GameMove_0003</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{2161,11}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{2161.00,11.00}</string>
      </dict>
      <key>GameMove_0004</key>
      <dict>
        <key>frame</key>
        <string>{{1,93},{236,48}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{236.00,48.00}</string>
      </dict>
      <key>GameMove_0005</key>
      <dict>
        <key>frame</key>
        <string>{{1069,529},{44,36}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{44.00,36.00}</string>
      </dict>
      <key>GameMove_0006</key>
      <dict>
        <key>frame</key>
        <string>{{1,308},{175,146}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{175.00,146.00}</string>
      </dict>
      <key>GameMove_0007</key>
      <dict>
        <key>frame</key>
        <string>{{935,14},{103,99}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{103.00,99.00}</string>
      </dict>
      <key>GameMove_0008</key>
      <dict>
        <key>frame</key>
        <string>{{1,14},{386,77}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{386.00,77.00}</string>
      </dict>
      <key>GameMove_0009</key>
      <dict>
        <key>frame</key>
        <string>{{1,143},{208,163}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{208.00,163.00}</string>
      </dict>
      <key>GameMove_0010</key>
      <dict>
        <key>frame</key>
        <string>{{228,246},{14,22}}</string>
        <key>offset</key>
        <string>{0.50,-0.50}</string>
        <key>sourceSize</key>
        <string>{15.00,23.00}</string>
      </dict>
      <key>GameMove_0011</key>
      <dict>
        <key>frame</key>
        <string>{{239,117},{8,22}}</string>
        <key>offset</key>
        <string>{-2.50,-0.50}</string>
        <key>sourceSize</key>
        <string>{15.00,23.00}</string>
      </dict>
      <key>GameMove_0012</key>
      <dict>
        <key>frame</key>
        <string>{{239,93},{14,22}}</string>
        <key>offset</key>
        <string>{0.50,-0.50}</string>
        <key>sourceSize</key>
        <string>{15.00,23.00}</string>
      </dict>
      <key>GameMove_0013</key>
      <dict>
        <key>frame</key>
        <string>{{236,536},{14,22}}</string>
        <key>offset</key>
        <string>{0.50,-0.50}</string>
        <key>sourceSize</key>
        <string>{15.00,23.00}</string>
      </dict>
      <key>GameMove_0014</key>
      <dict>
        <key>frame</key>
        <string>{{211,270},{15,22}}</string>
        <key>offset</key>
        <string>{0.00,-0.50}</string>
        <key>sourceSize</key>
        <string>{15.00,23.00}</string>
      </dict>
      <key>GameMove_0015</key>
      <dict>
        <key>frame</key>
        <string>{{228,270},{14,22}}</string>
        <key>offset</key>
        <string>{0.50,-0.50}</string>
        <key>sourceSize</key>
        <string>{15.00,23.00}</string>
      </dict>
      <key>GameMove_0016</key>
      <dict>
        <key>frame</key>
        <string>{{178,421},{15,23}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{15.00,23.00}</string>
      </dict>
      <key>GameMove_0017</key>
      <dict>
        <key>frame</key>
        <string>{{219,536},{15,21}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{15.00,23.00}</string>
      </dict>
      <key>GameMove_0018</key>
      <dict>
        <key>frame</key>
        <string>{{211,246},{15,22}}</string>
        <key>offset</key>
        <string>{0.00,-0.50}</string>
        <key>sourceSize</key>
        <string>{15.00,23.00}</string>
      </dict>
      <key>GameMove_0019</key>
      <dict>
        <key>frame</key>
        <string>{{195,421},{15,22}}</string>
        <key>offset</key>
        <string>{0.00,-0.50}</string>
        <key>sourceSize</key>
        <string>{15.00,23.00}</string>
      </dict>
      <key>GameMove_0020</key>
      <dict>
        <key>frame</key>
        <string>{{1481,219},{100,99}}</string>
        <key>offset</key>
        <string>{2.50,1.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0021</key>
      <dict>
        <key>frame</key>
        <string>{{327,350},{105,100}}</string>
        <key>offset</key>
        <string>{0.00,2.00}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0022</key>
      <dict>
        <key>frame</key>
        <string>{{404,197},{105,97}}</string>
        <key>offset</key>
        <string>{0.00,-2.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0023</key>
      <dict>
        <key>frame</key>
        <string>{{1277,206},{101,101}}</string>
        <key>offset</key>
        <string>{0.00,0.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0024</key>
      <dict>
        <key>frame</key>
        <string>{{1173,423},{102,103}}</string>
        <key>offset</key>
        <string>{-0.50,0.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0025</key>
      <dict>
        <key>frame</key>
        <string>{{1481,320},{100,102}}</string>
        <key>offset</key>
        <string>{-0.50,1.00}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0026</key>
      <dict>
        <key>frame</key>
        <string>{{1482,117},{99,97}}</string>
        <key>offset</key>
        <string>{-3.00,-2.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0027</key>
      <dict>
        <key>frame</key>
        <string>{{964,425},{103,103}}</string>
        <key>offset</key>
        <string>{1.00,0.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0028</key>
      <dict>
        <key>frame</key>
        <string>{{1684,14},{95,100}}</string>
        <key>offset</key>
        <string>{0.00,1.00}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0029</key>
      <dict>
        <key>frame</key>
        <string>{{1069,113},{103,101}}</string>
        <key>offset</key>
        <string>{1.00,0.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0030</key>
      <dict>
        <key>frame</key>
        <string>{{641,14},{104,96}}</string>
        <key>offset</key>
        <string>{0.50,3.00}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0031</key>
      <dict>
        <key>frame</key>
        <string>{{1380,116},{100,101}}</string>
        <key>offset</key>
        <string>{2.50,0.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0032</key>
      <dict>
        <key>frame</key>
        <string>{{244,246},{13,27}}</string>
        <key>offset</key>
        <string>{-32.00,-36.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0033</key>
      <dict>
        <key>frame</key>
        <string>{{327,452},{105,103}}</string>
        <key>offset</key>
        <string>{-1.00,0.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0034</key>
      <dict>
        <key>frame</key>
        <string>{{1583,423},{99,103}}</string>
        <key>offset</key>
        <string>{-3.00,-0.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0035</key>
      <dict>
        <key>frame</key>
        <string>{{1,456},{107,102}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0036</key>
      <dict>
        <key>frame</key>
        <string>{{1780,116},{82,98}}</string>
        <key>offset</key>
        <string>{0.50,3.00}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0037</key>
      <dict>
        <key>frame</key>
        <string>{{1482,14},{100,101}}</string>
        <key>offset</key>
        <string>{-1.50,0.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0038</key>
      <dict>
        <key>frame</key>
        <string>{{1069,320},{103,101}}</string>
        <key>offset</key>
        <string>{-1.00,0.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0039</key>
      <dict>
        <key>frame</key>
        <string>{{1040,14},{103,97}}</string>
        <key>offset</key>
        <string>{-2.00,-1.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0040</key>
      <dict>
        <key>frame</key>
        <string>{{1777,407},{87,97}}</string>
        <key>offset</key>
        <string>{0.00,2.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0041</key>
      <dict>
        <key>frame</key>
        <string>{{1380,14},{100,100}}</string>
        <key>offset</key>
        <string>{-0.50,1.00}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0042</key>
      <dict>
        <key>frame</key>
        <string>{{1866,463},{49,80}}</string>
        <key>offset</key>
        <string>{-25.00,-1.00}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0043</key>
      <dict>
        <key>frame</key>
        <string>{{830,119},{25,79}}</string>
        <key>offset</key>
        <string>{-36.00,-1.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0044</key>
      <dict>
        <key>frame</key>
        <string>{{1864,96},{51,79}}</string>
        <key>offset</key>
        <string>{-24.00,-0.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0045</key>
      <dict>
        <key>frame</key>
        <string>{{1834,14},{51,80}}</string>
        <key>offset</key>
        <string>{-25.00,-2.00}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0046</key>
      <dict>
        <key>frame</key>
        <string>{{747,14},{55,79}}</string>
        <key>offset</key>
        <string>{-25.00,-1.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0047</key>
      <dict>
        <key>frame</key>
        <string>{{1887,14},{51,80}}</string>
        <key>offset</key>
        <string>{-25.00,-2.00}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0048</key>
      <dict>
        <key>frame</key>
        <string>{{1866,381},{51,80}}</string>
        <key>offset</key>
        <string>{-25.00,-1.00}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0049</key>
      <dict>
        <key>frame</key>
        <string>{{1779,216},{52,78}}</string>
        <key>offset</key>
        <string>{-24.50,-2.00}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0050</key>
      <dict>
        <key>frame</key>
        <string>{{1781,14},{51,79}}</string>
        <key>offset</key>
        <string>{-25.00,-1.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0051</key>
      <dict>
        <key>frame</key>
        <string>{{1833,216},{51,80}}</string>
        <key>offset</key>
        <string>{-25.00,-2.00}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0052</key>
      <dict>
        <key>frame</key>
        <string>{{1583,117},{99,102}}</string>
        <key>offset</key>
        <string>{0.00,1.00}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0053</key>
      <dict>
        <key>frame</key>
        <string>{{724,112},{104,98}}</string>
        <key>offset</key>
        <string>{-0.50,2.00}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0054</key>
      <dict>
        <key>frame</key>
        <string>{{1248,14},{101,93}}</string>
        <key>offset</key>
        <string>{0.00,-0.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0055</key>
      <dict>
        <key>frame</key>
        <string>{{1583,325},{99,96}}</string>
        <key>offset</key>
        <string>{-1.00,-2.00}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0056</key>
      <dict>
        <key>frame</key>
        <string>{{753,421},{104,104}}</string>
        <key>offset</key>
        <string>{-1.50,0.00}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0057</key>
      <dict>
        <key>frame</key>
        <string>{{211,143},{106,101}}</string>
        <key>offset</key>
        <string>{-0.50,0.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0058</key>
      <dict>
        <key>frame</key>
        <string>{{1277,109},{101,95}}</string>
        <key>offset</key>
        <string>{0.00,-2.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0059</key>
      <dict>
        <key>frame</key>
        <string>{{1684,215},{93,96}}</string>
        <key>offset</key>
        <string>{-3.00,-2.00}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0060</key>
      <dict>
        <key>frame</key>
        <string>{{1277,309},{100,95}}</string>
        <key>offset</key>
        <string>{-2.50,-1.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0061</key>
      <dict>
        <key>frame</key>
        <string>{{964,321},{103,102}}</string>
        <key>offset</key>
        <string>{-1.00,1.00}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0062</key>
      <dict>
        <key>frame</key>
        <string>{{110,456},{107,103}}</string>
        <key>offset</key>
        <string>{0.00,0.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0063</key>
      <dict>
        <key>frame</key>
        <string>{{541,223},{105,96}}</string>
        <key>offset</key>
        <string>{0.00,-2.00}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0064</key>
      <dict>
        <key>frame</key>
        <string>{{434,296},{105,102}}</string>
        <key>offset</key>
        <string>{0.00,1.00}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0065</key>
      <dict>
        <key>frame</key>
        <string>{{648,216},{104,102}}</string>
        <key>offset</key>
        <string>{0.50,1.00}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0066</key>
      <dict>
        <key>frame</key>
        <string>{{1174,216},{101,97}}</string>
        <key>offset</key>
        <string>{0.00,-2.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0067</key>
      <dict>
        <key>frame</key>
        <string>{{1069,216},{103,102}}</string>
        <key>offset</key>
        <string>{0.00,1.00}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0068</key>
      <dict>
        <key>frame</key>
        <string>{{1379,410},{100,100}}</string>
        <key>offset</key>
        <string>{-1.50,0.00}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0069</key>
      <dict>
        <key>frame</key>
        <string>{{1684,407},{91,98}}</string>
        <key>offset</key>
        <string>{0.00,2.00}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0070</key>
      <dict>
        <key>frame</key>
        <string>{{219,526},{103,8}}</string>
        <key>offset</key>
        <string>{-1.00,1.00}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0071</key>
      <dict>
        <key>frame</key>
        <string>{{541,321},{105,103}}</string>
        <key>offset</key>
        <string>{0.00,0.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0072</key>
      <dict>
        <key>frame</key>
        <string>{{1684,116},{94,97}}</string>
        <key>offset</key>
        <string>{0.50,-2.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0073</key>
      <dict>
        <key>frame</key>
        <string>{{511,118},{105,103}}</string>
        <key>offset</key>
        <string>{1.00,0.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0074</key>
      <dict>
        <key>frame</key>
        <string>{{1174,113},{101,101}}</string>
        <key>offset</key>
        <string>{-1.00,1.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0075</key>
      <dict>
        <key>frame</key>
        <string>{{1277,406},{100,99}}</string>
        <key>offset</key>
        <string>{-0.50,-1.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0076</key>
      <dict>
        <key>frame</key>
        <string>{{1145,14},{101,97}}</string>
        <key>offset</key>
        <string>{0.00,-2.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0077</key>
      <dict>
        <key>frame</key>
        <string>{{648,320},{104,99}}</string>
        <key>offset</key>
        <string>{-1.50,-2.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0078</key>
      <dict>
        <key>frame</key>
        <string>{{434,400},{105,103}}</string>
        <key>offset</key>
        <string>{0.00,-0.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0079</key>
      <dict>
        <key>frame</key>
        <string>{{1684,313},{92,92}}</string>
        <key>offset</key>
        <string>{-0.50,0.00}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0080</key>
      <dict>
        <key>frame</key>
        <string>{{830,14},{103,103}}</string>
        <key>offset</key>
        <string>{-1.00,0.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0081</key>
      <dict>
        <key>frame</key>
        <string>{{1584,14},{98,101}}</string>
        <key>offset</key>
        <string>{-1.50,0.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0082</key>
      <dict>
        <key>frame</key>
        <string>{{1379,309},{100,99}}</string>
        <key>offset</key>
        <string>{-2.50,1.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0083</key>
      <dict>
        <key>frame</key>
        <string>{{1583,221},{99,102}}</string>
        <key>offset</key>
        <string>{-2.00,1.00}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0084</key>
      <dict>
        <key>frame</key>
        <string>{{1069,423},{102,101}}</string>
        <key>offset</key>
        <string>{0.50,0.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0085</key>
      <dict>
        <key>frame</key>
        <string>{{964,216},{103,103}}</string>
        <key>offset</key>
        <string>{1.00,0.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0086</key>
      <dict>
        <key>frame</key>
        <string>{{647,426},{104,100}}</string>
        <key>offset</key>
        <string>{0.50,1.00}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0087</key>
      <dict>
        <key>frame</key>
        <string>{{534,14},{105,98}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0088</key>
      <dict>
        <key>frame</key>
        <string>{{859,322},{103,101}}</string>
        <key>offset</key>
        <string>{0.00,0.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0089</key>
      <dict>
        <key>frame</key>
        <string>{{1481,424},{100,103}}</string>
        <key>offset</key>
        <string>{-0.50,0.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0090</key>
      <dict>
        <key>frame</key>
        <string>{{319,93},{106,102}}</string>
        <key>offset</key>
        <string>{-0.50,0.00}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0091</key>
      <dict>
        <key>frame</key>
        <string>{{859,119},{103,96}}</string>
        <key>offset</key>
        <string>{0.00,-3.00}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0092</key>
      <dict>
        <key>frame</key>
        <string>{{618,114},{104,100}}</string>
        <key>offset</key>
        <string>{0.50,1.00}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0093</key>
      <dict>
        <key>frame</key>
        <string>{{427,14},{105,102}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0094</key>
      <dict>
        <key>frame</key>
        <string>{{541,426},{104,101}}</string>
        <key>offset</key>
        <string>{-0.50,1.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0095</key>
      <dict>
        <key>frame</key>
        <string>{{219,421},{106,103}}</string>
        <key>offset</key>
        <string>{0.50,0.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0096</key>
      <dict>
        <key>frame</key>
        <string>{{859,425},{103,95}}</string>
        <key>offset</key>
        <string>{0.00,-0.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0097</key>
      <dict>
        <key>frame</key>
        <string>{{964,115},{103,99}}</string>
        <key>offset</key>
        <string>{0.00,2.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0098</key>
      <dict>
        <key>frame</key>
        <string>{{859,217},{103,103}}</string>
        <key>offset</key>
        <string>{-1.00,0.50}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0099</key>
      <dict>
        <key>frame</key>
        <string>{{1174,315},{101,104}}</string>
        <key>offset</key>
        <string>{-3.00,0.00}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0100</key>
      <dict>
        <key>frame</key>
        <string>{{296,246},{106,102}}</string>
        <key>offset</key>
        <string>{-0.50,0.00}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0101</key>
      <dict>
        <key>frame</key>
        <string>{{754,316},{103,98}}</string>
        <key>offset</key>
        <string>{0.00,2.00}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
      <key>GameMove_0102</key>
      <dict>
        <key>frame</key>
        <string>{{754,212},{103,102}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{107.00,104.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.58</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>GameMove.png</string>
      <key>realTextureFileName</key>
      <string>GameMove.png</string>
      <key>textureFileName</key>
      <string>GameMove.png</string>
      <key>size</key>
      <string>{2464,566}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>a1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.02252</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>a11</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>a12</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>a3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.49091</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>a7</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50042</real>
        <key>anchorY</key>
        <real>0.49688</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>a8</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50455</real>
        <key>anchorY</key>
        <real>0.50417</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>shuttlecock</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.45800</real>
        <key>anchorY</key>
        <real>0.04486</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>光</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>得分条</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.16321</real>
        <key>anchorY</key>
        <real>1.89286</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>手</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>GameMoveLayer</key>
      <dict>
        <key>type</key>
        <string>jpg</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>url</key>
        <string>GameMove/GameMoveLayer.jpg</string>
      </dict>
      <key>a5</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>-0.01064</real>
        <key>anchorY</key>
        <real>1.01111</real>
        <key>url</key>
        <string>GameMove/a5.png</string>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>Layer</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,1977.95,1272.00</string>
        <key>anchorX</key>
        <real>0.50846</real>
        <key>anchorY</key>
        <real>0.49686</real>
        <key>children</key>
        <dict>
          <key>zz_2</key>
          <dict>
            <key>class</key>
            <string>a12</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>1018.15,527.30,0.00,1.82759,1.82727,1.00,7,0.00,0.00</string>
          </dict>
          <key>score</key>
          <dict>
            <key>class</key>
            <string>score</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>1489.70,1181.50,0.00,1.66026,1.65985,1.00,5,0.00,0.00</string>
          </dict>
          <key>i412793</key>
          <dict>
            <key>class</key>
            <string>GameMoveLayer</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>45.70,1232.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>zz_3</key>
          <dict>
            <key>class</key>
            <string>a12</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>1733.30,496.30,0.00,1.82759,1.82727,1.00,8,0.00,0.00</string>
          </dict>
          <key>xinshouLable2</key>
          <dict>
            <key>class</key>
            <string>test</string>
            <key>zIndex</key>
            <integer>10</integer>
            <key>frames</key>
            <string>158.90,1186.25,0.00,1.00000,1.00000,1.00,10,0.00,0.00,微软雅黑,80,#00FF00,center,1694,240</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <false/>
          </dict>
          <key>shuttlecock</key>
          <dict>
            <key>class</key>
            <string>shuttlecock</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>898.45,1124.25,80.00,0.99996,0.99995,1.00,4,80.00,80.00</string>
          </dict>
          <key>hero3</key>
          <dict>
            <key>class</key>
            <string>a1</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>1738.40,172.90,0.00,2.00861,2.00854,0.00,3,0.00,0.00</string>
          </dict>
          <key>zz_1</key>
          <dict>
            <key>class</key>
            <string>a11</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>264.85,533.50,0.00,1.82758,1.82574,1.00,6,0.00,0.00</string>
          </dict>
          <key>hero2</key>
          <dict>
            <key>class</key>
            <string>a1</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>1005.70,182.30,0.00,1.28448,1.28424,0.00,2,0.00,0.00</string>
          </dict>
          <key>hero1</key>
          <dict>
            <key>class</key>
            <string>a1</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>288.00,169.85,0.00,1.78448,1.78378,0.00,1,0.00,0.00</string>
          </dict>
          <key>xstouch</key>
          <dict>
            <key>class</key>
            <string>点击</string>
            <key>zIndex</key>
            <integer>11</integer>
            <key>frames</key>
            <string>1308.45,512.55,0.00,1.00000,1.00000,1.00,11,0.00,0.00</string>
          </dict>
          <key>xinshou</key>
          <dict>
            <key>class</key>
            <string>a6</string>
            <key>zIndex</key>
            <integer>9</integer>
            <key>frames</key>
            <string>989.00,636.00,0.00,1.00000,1.00000,0.70,9,0.00,0.00</string>
          </dict>
          <key>xinshouLable</key>
          <dict>
            <key>class</key>
            <string>test</string>
            <key>zIndex</key>
            <integer>12</integer>
            <key>frames</key>
            <string>158.90,844.00,0.00,1.00000,1.00000,1.00,12,0.00,0.00,微软雅黑,80,#00FF00,center,1694,240</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <false/>
          </dict>
        </dict>
      </dict>
      <key>a6</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,1977.95,1272.00</string>
        <key>anchorX</key>
        <real>0.50001</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>time</key>
          <dict>
            <key>class</key>
            <string>test</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>254.85,955.65,0.00,1.00000,1.00000,1.00,1,0.00,0.00,华文琥珀,110,#00FF00,center,1468,118</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <false/>
          </dict>
          <key>index_1</key>
          <dict>
            <key>class</key>
            <string>a5</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,1272.00,0.00,20.82069,13.97783,0.70,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>score</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,234.30,46.45</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>txt</key>
          <dict>
            <key>class</key>
            <string>scoretxt</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>73.60,40.35,0.00,1.00000,1.00000,1.00,3,0.00,0.00,腾祥嘉丽细圆简,30,#000000,center,153,36</string>
            <key>text</key>
            <string>9999</string>
            <key>input</key>
            <false/>
          </dict>
          <key>i412868</key>
          <dict>
            <key>class</key>
            <string>a8</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>44.65,22.50,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>i412864</key>
          <dict>
            <key>class</key>
            <string>得分条</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>-38.25,88.10,0.00,0.60718,0.60718,0.25,0,0.00,0.00</string>
          </dict>
          <key>i412866</key>
          <dict>
            <key>class</key>
            <string>a7</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>117.15,23.30,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>点击</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>14</integer>
        <key>rect</key>
        <string>0,0,316.90,244.20</string>
        <key>anchorX</key>
        <real>0.26964</real>
        <key>anchorY</key>
        <real>0.65131</real>
        <key>children</key>
        <dict>
          <key>i412894</key>
          <dict>
            <key>class</key>
            <string>手</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>109.20,163.05,0.00,1.00000,1.00000,1.00,0,0.00,0.00|106.55,165.15,0.00,1.00000,1.00000,1.00,0,0.00,0.00|103.90,167.20,0.00,1.00000,1.00000,1.00,0,0.00,0.00|101.30,169.30,0.00,1.00000,1.00000,1.00,0,0.00,0.00|98.65,171.40,0.00,1.00000,1.00000,1.00,0,0.00,0.00|96.00,173.45,0.00,1.00000,1.00000,1.00,0,0.00,0.00|93.35,175.55,0.00,1.00000,1.00000,1.00,0,0.00,0.00|90.75,177.65,0.00,1.00000,1.00000,1.00,0,0.00,0.00|88.10,179.70,0.00,1.00000,1.00000,1.00,0,0.00,0.00|85.45,181.80,0.00,1.00000,1.00000,1.00,1,0.00,0.00||||</string>
          </dict>
          <key>i412968</key>
          <dict>
            <key>class</key>
            <string>光</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||||||||66.65,180.05,0.00,0.55879,0.55879,1.00,0,0.00,0.00|50.00,196.10,0.00,0.88278,0.88278,0.78,0,0.00,0.00|33.35,212.10,0.00,1.20679,1.20679,0.56,0,0.00,0.00|16.70,228.15,0.00,1.53075,1.53075,0.34,0,0.00,0.00|0.00,244.20,0.00,1.85474,1.85474,0.12,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
    <key>fonts</key>
    <dict>
      <key>scoretxt</key>
      <dict>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>19</integer>
        <key>size</key>
        <integer>30</integer>
        <key>chars</key>
        <string>0123456789</string>
        <key>anchorX</key>
        <real>-0.33333</real>
        <key>anchorY</key>
        <real>1.26087</real>
      </dict>
      <key>test</key>
      <dict>
        <key>start</key>
        <integer>20</integer>
        <key>end</key>
        <integer>102</integer>
        <key>size</key>
        <integer>110</integer>
        <key>chars</key>
        <string>哈毽子落在小朋友的身上时，他们会自动把踢出去0123456789点击画只有提示司马光候现游戏开始后由一个即将您需要屏幕回每到增加分数达通关条件可过任意位置继续倒计结束</string>
        <key>anchorX</key>
        <real>-0.05607</real>
        <key>anchorY</key>
        <real>1.00962</real>
      </dict>
    </dict>
  </dict>
</plist>