<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>GameMove_0000</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{663,40}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{663.00,40.00}</string>
      </dict>
      <key>GameMove_0001</key>
      <dict>
        <key>frame</key>
        <string>{{225,43},{27,895}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{27.00,895.00}</string>
      </dict>
      <key>GameMove_0002</key>
      <dict>
        <key>frame</key>
        <string>{{1,184},{185,101}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{185.00,101.00}</string>
      </dict>
      <key>GameMove_0003</key>
      <dict>
        <key>frame</key>
        <string>{{1,43},{222,139}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{222.00,139.00}</string>
      </dict>
      <key>GameMove_0004</key>
      <dict>
        <key>frame</key>
        <string>{{1,287},{104,133}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{104.00,133.00}</string>
      </dict>
      <key>GameMove_0005</key>
      <dict>
        <key>frame</key>
        <string>{{1,702},{48,48}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{48.00,48.00}</string>
      </dict>
      <key>GameMove_0006</key>
      <dict>
        <key>frame</key>
        <string>{{1,646},{54,54}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{54.00,54.00}</string>
      </dict>
      <key>GameMove_0007</key>
      <dict>
        <key>frame</key>
        <string>{{1,590},{54,54}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{54.00,54.00}</string>
      </dict>
      <key>GameMove_0008</key>
      <dict>
        <key>frame</key>
        <string>{{1,422},{54,54}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{54.00,54.00}</string>
      </dict>
      <key>GameMove_0009</key>
      <dict>
        <key>frame</key>
        <string>{{1,534},{54,54}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{54.00,54.00}</string>
      </dict>
      <key>GameMove_0010</key>
      <dict>
        <key>frame</key>
        <string>{{1,478},{54,54}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{54.00,54.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.58</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>GameMove.png</string>
      <key>realTextureFileName</key>
      <string>GameMove.png</string>
      <key>textureFileName</key>
      <string>GameMove.png</string>
      <key>size</key>
      <string>{666,998}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>asset1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50023</real>
        <key>anchorY</key>
        <real>0.50125</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>asset2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.51481</real>
        <key>anchorY</key>
        <real>0.49994</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>asset3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.03459</real>
        <key>anchorY</key>
        <real>0.76089</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>asset4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50203</real>
        <key>anchorY</key>
        <real>0.44568</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>asset6</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50817</real>
        <key>anchorY</key>
        <real>0.44286</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
        <key>anchors</key>
        <dict>
          <key>shoot</key>
          <string>52.00,134.00,1,0.00,1.00,1.00</string>
        </dict>
      </dict>
      <key>asset7</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.23021</real>
        <key>anchorY</key>
        <real>0.76979</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>b0</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50463</real>
        <key>anchorY</key>
        <real>0.50926</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
        <key>colliders</key>
        <dict>
          <key>main</key>
          <string>Circle,27.25,27.50,51.00,51.00,0.00</string>
        </dict>
      </dict>
      <key>b1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.51204</real>
        <key>anchorY</key>
        <real>0.51111</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
        <key>colliders</key>
        <dict>
          <key>main</key>
          <string>Circle,27.15,27.10,51.00,51.00,0.00</string>
        </dict>
      </dict>
      <key>b2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49167</real>
        <key>anchorY</key>
        <real>0.49907</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
        <key>colliders</key>
        <dict>
          <key>main</key>
          <string>Circle,26.55,26.95,51.00,51.00,0.00</string>
        </dict>
      </dict>
      <key>b3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50463</real>
        <key>anchorY</key>
        <real>0.48889</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
        <key>colliders</key>
        <dict>
          <key>main</key>
          <string>Circle,27.25,26.40,51.00,51.00,0.00</string>
        </dict>
      </dict>
      <key>b4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50556</real>
        <key>anchorY</key>
        <real>0.48981</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>10</integer>
        <key>colliders</key>
        <dict>
          <key>main</key>
          <string>Circle,27.30,26.45,51.00,51.00,0.00</string>
        </dict>
      </dict>
      <key>bg</key>
      <dict>
        <key>type</key>
        <string>jpg</string>
        <key>anchorX</key>
        <real>-0.00117</real>
        <key>anchorY</key>
        <real>0.98981</real>
        <key>url</key>
        <string>GameMove/bg.jpg</string>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>Layer</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,667.30,947.15</string>
        <key>anchorX</key>
        <real>0.01656</real>
        <key>anchorY</key>
        <real>0.01642</real>
        <key>colliders</key>
        <dict>
          <key>downBar</key>
          <string>Rect,331.50,66.55,648.00,32.00,0.00</string>
          <key>topBar</key>
          <string>Rect,331.50,860.50,648.00,32.00,0.00</string>
          <key>AI</key>
          <string>Rect,340.25,719.15,104.00,47.00,0.00</string>
          <key>rightBar</key>
          <string>Rect,635.05,424.90,22.00,840.00,0.00</string>
          <key>leftBar</key>
          <string>Rect,28.25,424.90,22.00,840.00,0.00</string>
        </dict>
        <key>children</key>
        <dict>
          <key>gun</key>
          <dict>
            <key>class</key>
            <string>asset6</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>340.10,128.35,0.00,0.99998,0.99998,1.00,1,0.00,0.00</string>
          </dict>
          <key>back</key>
          <dict>
            <key>class</key>
            <string>bg</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>10.10,937.55,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>leftEdge</key>
          <dict>
            <key>class</key>
            <string>asset2</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>27.20,447.55,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>i216670</key>
          <dict>
            <key>class</key>
            <string>asset1</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>336.60,67.40,0.00,1.00000,1.00000,1.00,7,0.00,0.00</string>
          </dict>
          <key>rightEdge</key>
          <dict>
            <key>class</key>
            <string>asset2</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>635.40,447.55,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>i216665</key>
          <dict>
            <key>class</key>
            <string>asset1</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>330.65,861.35,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>collideEffect</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>9</integer>
        <key>rect</key>
        <string>0,0,70.55,70.55</string>
        <key>anchorX</key>
        <real>0.51595</real>
        <key>anchorY</key>
        <real>0.47484</real>
        <key>children</key>
        <dict>
          <key>i216699</key>
          <dict>
            <key>class</key>
            <string>asset7</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>28.50,41.35,0.00,0.51196,0.51196,1.00,0,0.00,0.00|25.85,44.00,0.00,0.73398,0.73398,1.00,0,0.00,0.00|23.15,46.70,0.00,0.95598,0.95598,1.00,0,0.00,0.00|20.50,49.30,0.00,1.17799,1.17799,1.00,0,0.00,0.00|17.80,52.05,0.00,1.39999,1.39999,1.00,0,0.00,0.00|16.25,53.80,0.00,1.52353,1.52353,0.82,0,0.00,0.00|14.65,55.55,0.00,1.64706,1.64706,0.65,0,0.00,0.00|13.15,57.30,0.00,1.77058,1.77058,0.48,0,0.00,0.00|11.50,59.05,0.00,1.89409,1.89409,0.30,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>