<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>GameOver_0000</key>
      <dict>
        <key>frame</key>
        <string>{{1,727},{181,66}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{181.00,66.00}</string>
      </dict>
      <key>GameOver_0001</key>
      <dict>
        <key>frame</key>
        <string>{{184,727},{125,42}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{125.00,42.00}</string>
      </dict>
      <key>GameOver_0002</key>
      <dict>
        <key>frame</key>
        <string>{{311,727},{90,58}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{90.00,58.00}</string>
      </dict>
      <key>GameOver_0003</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{654,598}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{654.00,598.00}</string>
      </dict>
      <key>GameOver_0004</key>
      <dict>
        <key>frame</key>
        <string>{{1,601},{570,124}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{570.00,124.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.58</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>GameOver.png</string>
      <key>realTextureFileName</key>
      <string>GameOver.png</string>
      <key>textureFileName</key>
      <string>GameOver.png</string>
      <key>size</key>
      <string>{756,800}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>a7</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>a10</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>a12</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>a8</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49924</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>a9</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.56452</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>Layer</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,960.00,640.00</string>
        <key>anchorX</key>
        <real>0.49995</real>
        <key>anchorY</key>
        <real>0.50008</real>
        <key>children</key>
        <dict>
          <key>xyg_btn</key>
          <dict>
            <key>class</key>
            <string>a7</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>478.95,231.10,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>i21561</key>
          <dict>
            <key>class</key>
            <string>a10</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>479.95,233.10,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>guang</key>
          <dict>
            <key>class</key>
            <string>a8</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>479.95,320.05,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i21558</key>
          <dict>
            <key>class</key>
            <string>a9</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>480.25,384.75,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>i21555</key>
          <dict>
            <key>class</key>
            <string>a12</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,640.00,0.00,10.66667,11.03448,0.56,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>