<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hall_0000</key>
      <dict>
        <key>frame</key>
        <string>{{643,1249},{557,622}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{557.00,622.00}</string>
      </dict>
      <key>hall_0001</key>
      <dict>
        <key>frame</key>
        <string>{{643,625},{557,622}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{557.00,622.00}</string>
      </dict>
      <key>hall_0002</key>
      <dict>
        <key>frame</key>
        <string>{{643,1},{557,622}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{557.00,622.00}</string>
      </dict>
      <key>hall_0003</key>
      <dict>
        <key>frame</key>
        <string>{{219,1776},{3,73}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{3.00,73.00}</string>
      </dict>
      <key>hall_0004</key>
      <dict>
        <key>frame</key>
        <string>{{1,1617},{210,88}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{210.00,88.00}</string>
      </dict>
      <key>hall_0005</key>
      <dict>
        <key>frame</key>
        <string>{{1,1400},{638,26}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{638.00,26.00}</string>
      </dict>
      <key>hall_0006</key>
      <dict>
        <key>frame</key>
        <string>{{1,262},{640,1136}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{640.00,1136.00}</string>
      </dict>
      <key>hall_0007</key>
      <dict>
        <key>frame</key>
        <string>{{1,73},{640,187}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{640.00,187.00}</string>
      </dict>
      <key>hall_0008</key>
      <dict>
        <key>frame</key>
        <string>{{168,1707},{49,72}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{49.00,72.00}</string>
      </dict>
      <key>hall_0009</key>
      <dict>
        <key>frame</key>
        <string>{{168,1781},{49,73}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{49.00,73.00}</string>
      </dict>
      <key>hall_0010</key>
      <dict>
        <key>frame</key>
        <string>{{213,1617},{49,73}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{49.00,73.00}</string>
      </dict>
      <key>hall_0011</key>
      <dict>
        <key>frame</key>
        <string>{{219,1692},{38,40}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{38.00,40.00}</string>
      </dict>
      <key>hall_0012</key>
      <dict>
        <key>frame</key>
        <string>{{196,1856},{49,24}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{49.00,24.00}</string>
      </dict>
      <key>hall_0013</key>
      <dict>
        <key>frame</key>
        <string>{{196,1882},{38,40}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{38.00,40.00}</string>
      </dict>
      <key>hall_0014</key>
      <dict>
        <key>frame</key>
        <string>{{1,1428},{251,187}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{251.00,187.00}</string>
      </dict>
      <key>hall_0015</key>
      <dict>
        <key>frame</key>
        <string>{{73,1860},{49,24}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{49.00,24.00}</string>
      </dict>
      <key>hall_0016</key>
      <dict>
        <key>frame</key>
        <string>{{103,1707},{49,24}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{49.00,24.00}</string>
      </dict>
      <key>hall_0017</key>
      <dict>
        <key>frame</key>
        <string>{{219,1734},{35,40}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{35.00,40.00}</string>
      </dict>
      <key>hall_0018</key>
      <dict>
        <key>frame</key>
        <string>{{1,1783},{99,36}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{99.00,36.00}</string>
      </dict>
      <key>hall_0019</key>
      <dict>
        <key>frame</key>
        <string>{{1,1745},{99,36}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{99.00,36.00}</string>
      </dict>
      <key>hall_0020</key>
      <dict>
        <key>frame</key>
        <string>{{1,1707},{100,36}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{100.00,36.00}</string>
      </dict>
      <key>hall_0021</key>
      <dict>
        <key>frame</key>
        <string>{{140,1860},{54,70}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{54.00,70.00}</string>
      </dict>
      <key>hall_0022</key>
      <dict>
        <key>frame</key>
        <string>{{102,1745},{64,70}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{64.00,70.00}</string>
      </dict>
      <key>hall_0023</key>
      <dict>
        <key>frame</key>
        <string>{{1,1821},{70,70}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{70.00,70.00}</string>
      </dict>
      <key>hall_0024</key>
      <dict>
        <key>frame</key>
        <string>{{1,1893},{68,37}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{68.00,37.00}</string>
      </dict>
      <key>hall_0025</key>
      <dict>
        <key>frame</key>
        <string>{{73,1821},{67,37}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{67.00,37.00}</string>
      </dict>
      <key>hall_0026</key>
      <dict>
        <key>frame</key>
        <string>{{71,1893},{67,34}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{67.00,34.00}</string>
      </dict>
      <key>hall_0027</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{640,70}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{640.00,70.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.58</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>hall.png</string>
      <key>realTextureFileName</key>
      <string>hall.png</string>
      <key>textureFileName</key>
      <string>hall.png</string>
      <key>size</key>
      <string>{1342,1938}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>nn</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>pj</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>sg</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>a10</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>a14</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>a18</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>a2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>a28</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>a34</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>a35</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>a36</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>10</integer>
      </dict>
      <key>a37</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>11</integer>
        <key>end</key>
        <integer>11</integer>
      </dict>
      <key>a38</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>12</integer>
        <key>end</key>
        <integer>12</integer>
      </dict>
      <key>a39</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>13</integer>
        <key>end</key>
        <integer>13</integer>
      </dict>
      <key>a4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50398</real>
        <key>anchorY</key>
        <real>0.49465</real>
        <key>start</key>
        <integer>14</integer>
        <key>end</key>
        <integer>14</integer>
      </dict>
      <key>a40</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>15</integer>
        <key>end</key>
        <integer>15</integer>
      </dict>
      <key>a41</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>16</integer>
        <key>end</key>
        <integer>16</integer>
      </dict>
      <key>a42</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.02857</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>17</integer>
        <key>end</key>
        <integer>17</integer>
      </dict>
      <key>a43</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>18</integer>
        <key>end</key>
        <integer>18</integer>
      </dict>
      <key>a44</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>19</integer>
        <key>end</key>
        <integer>19</integer>
      </dict>
      <key>a45</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>20</integer>
        <key>end</key>
        <integer>20</integer>
      </dict>
      <key>a46</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.14815</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>21</integer>
        <key>end</key>
        <integer>21</integer>
      </dict>
      <key>a47</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.04688</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>22</integer>
        <key>end</key>
        <integer>22</integer>
      </dict>
      <key>a48</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>23</integer>
        <key>end</key>
        <integer>23</integer>
      </dict>
      <key>a49</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.48649</real>
        <key>start</key>
        <integer>24</integer>
        <key>end</key>
        <integer>24</integer>
      </dict>
      <key>a50</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50746</real>
        <key>anchorY</key>
        <real>0.48649</real>
        <key>start</key>
        <integer>25</integer>
        <key>end</key>
        <integer>25</integer>
      </dict>
      <key>a51</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50746</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>26</integer>
        <key>end</key>
        <integer>26</integer>
      </dict>
      <key>a9</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>27</integer>
        <key>end</key>
        <integer>27</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>a11</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,210.00,88.00</string>
        <key>anchorX</key>
        <real>0.50976</real>
        <key>anchorY</key>
        <real>0.51136</real>
        <key>labels</key>
        <dict>
          <key>selected</key>
          <dict>
            <key>start</key>
            <integer>1</integer>
            <key>end</key>
            <integer>1</integer>
          </dict>
          <key>on</key>
          <dict>
            <key>start</key>
            <integer>0</integer>
            <key>end</key>
            <integer>0</integer>
          </dict>
        </dict>
        <key>colliders</key>
        <dict>
          <key>main</key>
          <string>Rect,105.05,45.00,197.00,65.00,0.00|</string>
        </dict>
        <key>children</key>
        <dict>
          <key>i193628</key>
          <dict>
            <key>class</key>
            <string>a45</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>57.05,63.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|</string>
          </dict>
          <key>i194012</key>
          <dict>
            <key>class</key>
            <string>a14</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null|105.00,44.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>a12</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,210.00,88.00</string>
        <key>anchorX</key>
        <real>0.52857</real>
        <key>anchorY</key>
        <real>0.51136</real>
        <key>labels</key>
        <dict>
          <key>selected</key>
          <dict>
            <key>start</key>
            <integer>1</integer>
            <key>end</key>
            <integer>1</integer>
          </dict>
          <key>on</key>
          <dict>
            <key>start</key>
            <integer>0</integer>
            <key>end</key>
            <integer>0</integer>
          </dict>
        </dict>
        <key>colliders</key>
        <dict>
          <key>main</key>
          <string>Rect,103.95,45.00,199.00,64.00,0.00|</string>
        </dict>
        <key>children</key>
        <dict>
          <key>i194014</key>
          <dict>
            <key>class</key>
            <string>a14</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null|105.00,44.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i193655</key>
          <dict>
            <key>class</key>
            <string>a44</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>61.00,63.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|</string>
          </dict>
        </dict>
      </dict>
      <key>a13</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,233.00,88.00</string>
        <key>anchorX</key>
        <real>0.49979</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>labels</key>
        <dict>
          <key>selected</key>
          <dict>
            <key>start</key>
            <integer>1</integer>
            <key>end</key>
            <integer>1</integer>
          </dict>
          <key>on</key>
          <dict>
            <key>start</key>
            <integer>0</integer>
            <key>end</key>
            <integer>0</integer>
          </dict>
        </dict>
        <key>colliders</key>
        <dict>
          <key>main</key>
          <string>Rect,116.50,44.00,233.00,65.00,0.00|</string>
        </dict>
        <key>children</key>
        <dict>
          <key>i194016</key>
          <dict>
            <key>class</key>
            <string>a14</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null|113.90,44.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i193682</key>
          <dict>
            <key>class</key>
            <string>a43</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>66.45,62.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|</string>
          </dict>
        </dict>
      </dict>
      <key>a5</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,251.00,187.00</string>
        <key>anchorX</key>
        <real>0.50398</real>
        <key>anchorY</key>
        <real>0.55909</real>
        <key>labels</key>
        <dict>
          <key>selected</key>
          <dict>
            <key>start</key>
            <integer>1</integer>
            <key>end</key>
            <integer>1</integer>
          </dict>
          <key>on</key>
          <dict>
            <key>start</key>
            <integer>0</integer>
            <key>end</key>
            <integer>0</integer>
          </dict>
        </dict>
        <key>children</key>
        <dict>
          <key>i194018</key>
          <dict>
            <key>class</key>
            <string>a4</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null|126.50,92.50,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i193709</key>
          <dict>
            <key>class</key>
            <string>a47</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>91.50,139.55,0.00,1.00000,1.00000,1.00,0,0.00,0.00|</string>
          </dict>
        </dict>
      </dict>
      <key>a6</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,251.00,187.00</string>
        <key>anchorX</key>
        <real>0.56793</real>
        <key>anchorY</key>
        <real>0.55882</real>
        <key>labels</key>
        <dict>
          <key>selected</key>
          <dict>
            <key>start</key>
            <integer>1</integer>
            <key>end</key>
            <integer>1</integer>
          </dict>
          <key>on</key>
          <dict>
            <key>start</key>
            <integer>0</integer>
            <key>end</key>
            <integer>0</integer>
          </dict>
        </dict>
        <key>children</key>
        <dict>
          <key>i194021</key>
          <dict>
            <key>class</key>
            <string>a4</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null|126.50,92.50,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i193735</key>
          <dict>
            <key>class</key>
            <string>a48</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>107.55,139.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00|</string>
          </dict>
        </dict>
      </dict>
      <key>a7</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,251.00,187.00</string>
        <key>anchorX</key>
        <real>0.48386</real>
        <key>anchorY</key>
        <real>0.55909</real>
        <key>labels</key>
        <dict>
          <key>selected</key>
          <dict>
            <key>start</key>
            <integer>1</integer>
            <key>end</key>
            <integer>1</integer>
          </dict>
          <key>on</key>
          <dict>
            <key>start</key>
            <integer>0</integer>
            <key>end</key>
            <integer>0</integer>
          </dict>
        </dict>
        <key>children</key>
        <dict>
          <key>i193761</key>
          <dict>
            <key>class</key>
            <string>a46</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>86.45,139.55,0.00,1.00000,1.00000,1.00,0,0.00,0.00|</string>
          </dict>
          <key>i194024</key>
          <dict>
            <key>class</key>
            <string>a4</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null|126.50,92.50,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>Layer</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,1817.80,1136.00</string>
        <key>anchorX</key>
        <real>0.17604</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i193818</key>
          <dict>
            <key>class</key>
            <string>a15</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>1.20,1109.25,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>i193840</key>
          <dict>
            <key>class</key>
            <string>a15</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>1.00,1109.25,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>chang</key>
          <dict>
            <key>class</key>
            <string>a8</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>320.00,766.65,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>pj</key>
          <dict>
            <key>class</key>
            <string>pj</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>323.75,371.30,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>nn</key>
          <dict>
            <key>class</key>
            <string>nn</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>947.70,371.30,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>GameType</key>
          <dict>
            <key>class</key>
            <string>a3</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>538.50,333.80,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>sg</key>
          <dict>
            <key>class</key>
            <string>sg</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>1539.30,360.45,0.00,1.00000,1.00000,1.00,7,0.00,0.00</string>
          </dict>
          <key>i193787</key>
          <dict>
            <key>class</key>
            <string>a2</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,1136.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>a15</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,638.00,116.65</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.99786</real>
        <key>children</key>
        <dict>
          <key>i193899</key>
          <dict>
            <key>class</key>
            <string>a35</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>455.25,115.65,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>i193893</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>34.25,76.40,0.00,1.00000,1.00000,1.00,3,0.00,0.00,Times New Roman,30,#FFFF99,left,308,37</string>
            <key>text</key>
            <string>100000</string>
            <key>input</key>
            <false/>
          </dict>
          <key>i193889</key>
          <dict>
            <key>class</key>
            <string>a18</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,26.70,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i193894</key>
          <dict>
            <key>class</key>
            <string>a34</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>548.60,115.65,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>i193892</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>34.25,116.40,0.00,1.00000,1.00000,1.00,2,0.00,0.00,ＭＳ Ｐ明朝,30,#FFFF99,left,308,37</string>
            <key>text</key>
            <string>用户6666</string>
            <key>input</key>
            <false/>
          </dict>
          <key>i193904</key>
          <dict>
            <key>class</key>
            <string>a36</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>385.75,80.15,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>i193891</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>7.50,29.50,0.00,1.00000,1.00000,1.00,1,0.00,0.00,Times New Roman,23,#FFFF99,center,619,30</string>
            <key>text</key>
            <string>aaaaaaaaaaa</string>
            <key>input</key>
            <false/>
          </dict>
        </dict>
      </dict>
      <key>a3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,640.00,667.90</string>
        <key>anchorX</key>
        <real>0.84109</real>
        <key>anchorY</key>
        <real>0.00150</real>
        <key>children</key>
        <dict>
          <key>nn_btn</key>
          <dict>
            <key>class</key>
            <string>a5</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>330.40,587.40,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i193944</key>
          <dict>
            <key>class</key>
            <string>a50</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>332.95,516.85,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>pj_btn</key>
          <dict>
            <key>class</key>
            <string>a7</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>120.65,587.40,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>i193934</key>
          <dict>
            <key>class</key>
            <string>a28</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>320.00,574.40,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>sg_btn</key>
          <dict>
            <key>class</key>
            <string>a6</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>539.90,587.40,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>i193946</key>
          <dict>
            <key>class</key>
            <string>a51</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>548.70,516.85,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>i193942</key>
          <dict>
            <key>class</key>
            <string>a49</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>119.65,516.85,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>a8</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,640.00,73.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.52055</real>
        <key>children</key>
        <dict>
          <key>tyc_btn</key>
          <dict>
            <key>class</key>
            <string>a11</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>543.10,38.00,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>i193972</key>
          <dict>
            <key>class</key>
            <string>a9</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,73.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i193974</key>
          <dict>
            <key>class</key>
            <string>a10</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>441.55,36.50,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>myc_btn</key>
          <dict>
            <key>class</key>
            <string>a13</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>119.55,38.00,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>i193976</key>
          <dict>
            <key>class</key>
            <string>a10</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>237.30,36.50,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>cyc_btn</key>
          <dict>
            <key>class</key>
            <string>a12</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>346.35,38.00,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>