<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero3_0000</key>
      <dict>
        <key>frame</key>
        <string>{{236,288},{53,40}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{53.00,40.00}</string>
      </dict>
      <key>hero3_0001</key>
      <dict>
        <key>frame</key>
        <string>{{236,246},{53,40}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{53.00,40.00}</string>
      </dict>
      <key>hero3_0002</key>
      <dict>
        <key>frame</key>
        <string>{{62,337},{23,11}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{23.00,11.00}</string>
      </dict>
      <key>hero3_0003</key>
      <dict>
        <key>frame</key>
        <string>{{260,94},{21,17}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{21.00,17.00}</string>
      </dict>
      <key>hero3_0004</key>
      <dict>
        <key>frame</key>
        <string>{{139,153},{118,91}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{118.00,91.00}</string>
      </dict>
      <key>hero3_0005</key>
      <dict>
        <key>frame</key>
        <string>{{87,337},{23,12}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{23.00,12.00}</string>
      </dict>
      <key>hero3_0006</key>
      <dict>
        <key>frame</key>
        <string>{{204,80},{54,31}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{54.00,31.00}</string>
      </dict>
      <key>hero3_0007</key>
      <dict>
        <key>frame</key>
        <string>{{62,301},{56,34}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{56.00,34.00}</string>
      </dict>
      <key>hero3_0008</key>
      <dict>
        <key>frame</key>
        <string>{{1,153},{136,146}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{136.00,146.00}</string>
      </dict>
      <key>hero3_0009</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{140,150}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{140.00,150.00}</string>
      </dict>
      <key>hero3_0010</key>
      <dict>
        <key>frame</key>
        <string>{{143,80},{59,52}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{59.00,52.00}</string>
      </dict>
      <key>hero3_0011</key>
      <dict>
        <key>frame</key>
        <string>{{1,301},{59,49}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{59.00,49.00}</string>
      </dict>
      <key>hero3_0012</key>
      <dict>
        <key>frame</key>
        <string>{{143,1},{93,77}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{93.00,77.00}</string>
      </dict>
      <key>hero3_0013</key>
      <dict>
        <key>frame</key>
        <string>{{139,246},{95,85}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{95.00,85.00}</string>
      </dict>
      <key>hero3_0014</key>
      <dict>
        <key>frame</key>
        <string>{{238,1},{49,41}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{49.00,41.00}</string>
      </dict>
      <key>hero3_0015</key>
      <dict>
        <key>frame</key>
        <string>{{259,113},{49,41}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{49.00,41.00}</string>
      </dict>
      <key>hero3_0016</key>
      <dict>
        <key>frame</key>
        <string>{{259,208},{32,24}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{32.00,24.00}</string>
      </dict>
      <key>hero3_0017</key>
      <dict>
        <key>frame</key>
        <string>{{260,68},{32,24}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{32.00,24.00}</string>
      </dict>
      <key>hero3_0018</key>
      <dict>
        <key>frame</key>
        <string>{{289,26},{30,23}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{30.00,23.00}</string>
      </dict>
      <key>hero3_0019</key>
      <dict>
        <key>frame</key>
        <string>{{289,1},{30,23}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{30.00,23.00}</string>
      </dict>
      <key>hero3_0020</key>
      <dict>
        <key>frame</key>
        <string>{{259,156},{33,24}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{33.00,24.00}</string>
      </dict>
      <key>hero3_0021</key>
      <dict>
        <key>frame</key>
        <string>{{204,113},{37,22}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{37.00,22.00}</string>
      </dict>
      <key>hero3_0022</key>
      <dict>
        <key>frame</key>
        <string>{{238,44},{37,22}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{37.00,22.00}</string>
      </dict>
      <key>hero3_0023</key>
      <dict>
        <key>frame</key>
        <string>{{259,182},{33,24}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{33.00,24.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.58</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>hero3.png</string>
      <key>realTextureFileName</key>
      <string>hero3.png</string>
      <key>textureFileName</key>
      <string>hero3.png</string>
      <key>size</key>
      <string>{342,352}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>a0</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50755</real>
        <key>anchorY</key>
        <real>0.50250</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>a1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50755</real>
        <key>anchorY</key>
        <real>0.50250</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>a14</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50435</real>
        <key>anchorY</key>
        <real>0.50455</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>a147</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50714</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>a148</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50212</real>
        <key>anchorY</key>
        <real>0.50055</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>a15</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.48913</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>a21</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49815</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>a22</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50357</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>a28</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50294</real>
        <key>anchorY</key>
        <real>0.50274</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>a29</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50033</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>a35</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50085</real>
        <key>anchorY</key>
        <real>0.50673</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>10</integer>
      </dict>
      <key>a36</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50169</real>
        <key>anchorY</key>
        <real>0.49796</real>
        <key>start</key>
        <integer>11</integer>
        <key>end</key>
        <integer>11</integer>
      </dict>
      <key>a42</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50430</real>
        <key>anchorY</key>
        <real>0.50065</real>
        <key>start</key>
        <integer>12</integer>
        <key>end</key>
        <integer>12</integer>
      </dict>
      <key>a43</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.43412</real>
        <key>start</key>
        <integer>13</integer>
        <key>end</key>
        <integer>13</integer>
      </dict>
      <key>a49</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49184</real>
        <key>anchorY</key>
        <real>0.50244</real>
        <key>start</key>
        <integer>14</integer>
        <key>end</key>
        <integer>14</integer>
      </dict>
      <key>a50</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49184</real>
        <key>anchorY</key>
        <real>0.50244</real>
        <key>start</key>
        <integer>15</integer>
        <key>end</key>
        <integer>15</integer>
      </dict>
      <key>a56</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50625</real>
        <key>start</key>
        <integer>16</integer>
        <key>end</key>
        <integer>16</integer>
      </dict>
      <key>a57</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50625</real>
        <key>start</key>
        <integer>17</integer>
        <key>end</key>
        <integer>17</integer>
      </dict>
      <key>a63</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49500</real>
        <key>anchorY</key>
        <real>0.51522</real>
        <key>start</key>
        <integer>18</integer>
        <key>end</key>
        <integer>18</integer>
      </dict>
      <key>a64</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49500</real>
        <key>anchorY</key>
        <real>0.51522</real>
        <key>start</key>
        <integer>19</integer>
        <key>end</key>
        <integer>19</integer>
      </dict>
      <key>a7</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.51061</real>
        <key>anchorY</key>
        <real>0.50417</real>
        <key>start</key>
        <integer>20</integer>
        <key>end</key>
        <integer>20</integer>
      </dict>
      <key>a70</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50541</real>
        <key>anchorY</key>
        <real>0.51364</real>
        <key>start</key>
        <integer>21</integer>
        <key>end</key>
        <integer>21</integer>
      </dict>
      <key>a71</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50541</real>
        <key>anchorY</key>
        <real>0.51364</real>
        <key>start</key>
        <integer>22</integer>
        <key>end</key>
        <integer>22</integer>
      </dict>
      <key>a8</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.51061</real>
        <key>anchorY</key>
        <real>0.50417</real>
        <key>start</key>
        <integer>23</integer>
        <key>end</key>
        <integer>23</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>hero3$attack</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>11</integer>
        <key>rect</key>
        <string>0,0,882.00,788.00</string>
        <key>anchorX</key>
        <real>0.49955</real>
        <key>anchorY</key>
        <real>0.20742</real>
        <key>children</key>
        <dict>
          <key>i235862589</key>
          <dict>
            <key>class</key>
            <string>a1</string>
            <key>zIndex</key>
            <integer>10</integer>
            <key>frames</key>
            <string>null||476.80,255.75,-23.96,0.99999,0.99999,1.00,10,-23.96,-23.96||474.55,283.35,48.17,0.99998,0.99998,1.00,10,48.17,48.17|487.40,302.30,-9.27,1.00000,1.00000,1.00,10,-9.27,-9.27||||506.95,303.90,-8.05,1.00001,1.00001,1.00,10,-8.05,-8.05|null</string>
          </dict>
          <key>i235862607</key>
          <dict>
            <key>class</key>
            <string>a14</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>null||||||||||432.90,285.05,0.00,1.00000,1.00000,1.00,8,0.00,0.00</string>
          </dict>
          <key>i235862539</key>
          <dict>
            <key>class</key>
            <string>a0</string>
            <key>zIndex</key>
            <integer>10</integer>
            <key>frames</key>
            <string>483.75,256.55,0.00,1.00000,1.00000,1.00,10,0.00,0.00||null||||||||</string>
          </dict>
          <key>i235862579</key>
          <dict>
            <key>class</key>
            <string>a36</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>null||438.15,251.65,0.00,1.00000,1.00000,1.00,5,0.00,0.00||451.15,302.00,19.88,0.94320,1.07033,1.00,5,27.75,19.88|447.05,307.65,39.02,0.94319,1.13980,1.00,5,46.90,39.02||||468.65,303.15,15.71,0.94319,1.12907,1.00,5,15.96,15.71|null</string>
          </dict>
          <key>i235862525</key>
          <dict>
            <key>class</key>
            <string>a49</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>407.55,253.35,0.00,1.00000,1.00000,1.00,3,0.00,0.00||null||||||||</string>
          </dict>
          <key>i235862605</key>
          <dict>
            <key>class</key>
            <string>a21</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>null||||||||||432.10,326.55,0.00,1.00000,1.00000,1.00,7,0.00,0.00</string>
          </dict>
          <key>i235862595</key>
          <dict>
            <key>class</key>
            <string>a56</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>null||||||||||383.10,246.30,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>i235862609</key>
          <dict>
            <key>class</key>
            <string>a7</string>
            <key>zIndex</key>
            <integer>9</integer>
            <key>frames</key>
            <string>null||||||||||515.80,253.75,0.00,1.00000,1.00000,1.00,9,0.00,0.00</string>
          </dict>
          <key>i235862529</key>
          <dict>
            <key>class</key>
            <string>a35</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>442.90,255.05,0.00,1.00000,1.00000,1.00,5,0.00,0.00||null||||||||</string>
          </dict>
          <key>i235862569</key>
          <dict>
            <key>class</key>
            <string>a71</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||442.60,172.15,0.00,1.00000,1.00000,1.00,0,0.00,0.00||369.20,258.50,18.70,1.00000,1.00000,1.00,0,18.70,18.70|343.55,293.75,32.86,0.99999,0.99999,1.00,0,32.86,32.86||||440.40,220.45,-19.12,1.00297,1.01783,1.00,0,-30.74,-19.12|null</string>
          </dict>
          <key>i235862519</key>
          <dict>
            <key>class</key>
            <string>a70</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>442.60,172.15,0.00,1.00000,1.00000,1.00,0,0.00,0.00||null||||||||</string>
          </dict>
          <key>i235862583</key>
          <dict>
            <key>class</key>
            <string>a22</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>null||428.45,322.80,0.00,1.00000,1.00000,1.00,7,0.00,0.00||460.60,372.50,10.98,1.00000,1.00000,1.00,7,10.99,10.99|465.25,377.85,5.51,1.00002,1.00002,1.00,7,5.51,5.51||||462.25,375.45,-5.98,1.00001,1.00001,1.00,7,-5.98,-5.98|null</string>
          </dict>
          <key>i235862533</key>
          <dict>
            <key>class</key>
            <string>a21</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>432.10,326.55,0.00,1.00000,1.00000,1.00,7,0.00,0.00||null||||||||</string>
          </dict>
          <key>i235862573</key>
          <dict>
            <key>class</key>
            <string>a57</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>null||374.10,275.20,40.24,1.00000,1.00000,1.00,2,40.24,40.24||399.85,293.65,-4.50,1.00000,1.00000,1.00,2,-4.50,-4.50|387.05,330.50,27.91,1.00000,1.00000,1.00,2,27.91,27.91||||405.95,306.25,9.60,1.00000,1.00000,1.00,2,9.60,9.60|null</string>
          </dict>
          <key>i235862591</key>
          <dict>
            <key>class</key>
            <string>a70</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||||||442.60,172.15,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i235862587</key>
          <dict>
            <key>class</key>
            <string>a8</string>
            <key>zIndex</key>
            <integer>9</integer>
            <key>frames</key>
            <string>null||507.25,266.20,-23.96,0.99999,0.99999,1.00,9,-23.96,-23.96||493.75,257.60,48.17,0.99998,0.99998,1.00,9,48.17,48.17|519.40,304.65,-9.27,1.00000,1.00000,1.00,9,-9.27,-9.27||||538.95,305.70,-8.05,1.00001,1.00001,1.00,9,-8.05,-8.05|null</string>
          </dict>
          <key>pos</key>
          <dict>
            <key>class</key>
            <string>a147</string>
            <key>zIndex</key>
            <integer>11</integer>
            <key>frames</key>
            <string>391.70,311.10,0.00,1.00000,1.00000,1.00,11,0.00,0.00||||||||||391.70,311.10,0.00,1.00000,1.00000,1.00,12,0.00,0.00</string>
          </dict>
          <key>i235862537</key>
          <dict>
            <key>class</key>
            <string>a7</string>
            <key>zIndex</key>
            <integer>9</integer>
            <key>frames</key>
            <string>515.80,253.75,0.00,1.00000,1.00000,1.00,9,0.00,0.00||null||||||||</string>
          </dict>
          <key>i235862577</key>
          <dict>
            <key>class</key>
            <string>a43</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>null||462.25,207.80,0.00,1.00000,1.00000,1.00,4,0.00,0.00||430.35,251.10,53.35,0.94320,1.18503,1.00,4,79.88,53.35|402.05,268.90,72.31,0.90845,1.26521,1.00,4,101.85,72.31||||469.90,245.70,15.88,0.99912,1.05582,1.00,4,35.15,15.88|null</string>
          </dict>
          <key>i235862523</key>
          <dict>
            <key>class</key>
            <string>a56</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>383.10,246.30,0.00,1.00000,1.00000,1.00,2,0.00,0.00||null||||||||</string>
          </dict>
          <key>collide</key>
          <dict>
            <key>class</key>
            <string>a148</string>
            <key>zIndex</key>
            <integer>12</integer>
            <key>frames</key>
            <string>441.00,394.00,0.00,7.57079,8.86388,1.00,12,0.00,0.00||||||||||441.00,394.00,0.00,7.57079,8.86388,1.00,13,0.00,0.00</string>
          </dict>
          <key>i235862603</key>
          <dict>
            <key>class</key>
            <string>a28</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>null||||||||||459.20,336.40,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>i235862581</key>
          <dict>
            <key>class</key>
            <string>a29</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>null||456.65,330.15,0.00,1.00000,1.00000,1.00,6,0.00,0.00||489.75,374.30,10.98,1.00000,1.00000,1.00,6,10.99,10.99|494.05,382.35,5.51,1.00002,1.00002,1.00,6,5.51,5.51||||489.60,385.55,-5.98,1.00001,1.00001,1.00,6,-5.98,-5.98|null</string>
          </dict>
          <key>i235862527</key>
          <dict>
            <key>class</key>
            <string>a42</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>464.95,209.35,0.00,1.00000,1.00000,1.00,4,0.00,0.00||null||||||||</string>
          </dict>
          <key>i235862599</key>
          <dict>
            <key>class</key>
            <string>a42</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>null||||||||||464.95,209.35,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>i235862597</key>
          <dict>
            <key>class</key>
            <string>a49</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>null||||||||||407.55,253.35,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>i235862593</key>
          <dict>
            <key>class</key>
            <string>a63</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null||||||||||502.90,171.70,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i235862531</key>
          <dict>
            <key>class</key>
            <string>a28</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>459.20,336.40,0.00,1.00000,1.00000,1.00,6,0.00,0.00||null||||||||</string>
          </dict>
          <key>i235862571</key>
          <dict>
            <key>class</key>
            <string>a64</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null||502.90,171.70,0.00,1.00000,1.00000,1.00,1,0.00,0.00||423.05,215.20,-66.26,0.99998,0.99998,1.00,1,-66.26,-66.26|387.25,241.50,-52.10,0.99998,0.99998,1.00,1,-52.10,-52.10||||482.10,200.60,-6.53,0.99987,1.02085,1.00,1,5.06,-6.53|null</string>
          </dict>
          <key>i235862611</key>
          <dict>
            <key>class</key>
            <string>a0</string>
            <key>zIndex</key>
            <integer>10</integer>
            <key>frames</key>
            <string>null||||||||||483.75,256.55,0.00,1.00000,1.00000,1.00,10,0.00,0.00</string>
          </dict>
          <key>i235862521</key>
          <dict>
            <key>class</key>
            <string>a63</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>502.90,171.70,0.00,1.00000,1.00000,1.00,1,0.00,0.00||null||||||||</string>
          </dict>
          <key>i235862585</key>
          <dict>
            <key>class</key>
            <string>a15</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>null||425.00,281.85,0.00,1.00000,1.00000,1.00,8,0.00,0.00||449.45,332.95,10.98,1.00000,1.00000,1.00,8,10.99,10.99|458.05,337.35,5.51,1.00002,1.00002,1.00,8,5.51,5.51||||463.25,334.35,-5.98,1.00001,1.00001,1.00,8,-5.98,-5.98|null</string>
          </dict>
          <key>i235862535</key>
          <dict>
            <key>class</key>
            <string>a14</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>432.90,285.05,0.00,1.00000,1.00000,1.00,8,0.00,0.00||null||||||||</string>
          </dict>
          <key>i235862575</key>
          <dict>
            <key>class</key>
            <string>a50</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>null||397.35,264.80,40.24,1.00000,1.00000,1.00,3,40.24,40.24||423.65,302.60,-4.50,1.00000,1.00000,1.00,3,-4.50,-4.50|411.90,325.30,27.91,1.00000,1.00000,1.00,3,27.91,27.91||||431.15,309.10,9.60,1.00000,1.00000,1.00,3,9.60,9.60|null</string>
          </dict>
          <key>i235862601</key>
          <dict>
            <key>class</key>
            <string>a35</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>null||||||||||442.90,255.05,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>