<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>kaishi_0000</key>
      <dict>
        <key>frame</key>
        <string>{{383,1247},{208,90}}</string>
        <key>offset</key>
        <string>{-6.00,-70.00}</string>
        <key>sourceSize</key>
        <string>{388.00,382.00}</string>
      </dict>
      <key>kaishi_0001</key>
      <dict>
        <key>frame</key>
        <string>{{773,232},{322,140}}</string>
        <key>offset</key>
        <string>{-2.00,-73.00}</string>
        <key>sourceSize</key>
        <string>{388.00,382.00}</string>
      </dict>
      <key>kaishi_0002</key>
      <dict>
        <key>frame</key>
        <string>{{1,1153},{380,167}}</string>
        <key>offset</key>
        <string>{0.00,-73.50}</string>
        <key>sourceSize</key>
        <string>{388.00,382.00}</string>
      </dict>
      <key>kaishi_0003</key>
      <dict>
        <key>frame</key>
        <string>{{772,1162},{378,166}}</string>
        <key>offset</key>
        <string>{0.00,-74.00}</string>
        <key>sourceSize</key>
        <string>{388.00,382.00}</string>
      </dict>
      <key>kaishi_0004</key>
      <dict>
        <key>frame</key>
        <string>{{772,993},{378,167}}</string>
        <key>offset</key>
        <string>{0.00,-73.50}</string>
        <key>sourceSize</key>
        <string>{388.00,382.00}</string>
      </dict>
      <key>kaishi_0005</key>
      <dict>
        <key>frame</key>
        <string>{{391,253},{380,237}}</string>
        <key>offset</key>
        <string>{0.00,-72.50}</string>
        <key>sourceSize</key>
        <string>{388.00,382.00}</string>
      </dict>
      <key>kaishi_0006</key>
      <dict>
        <key>frame</key>
        <string>{{391,745},{380,246}}</string>
        <key>offset</key>
        <string>{0.00,-68.00}</string>
        <key>sourceSize</key>
        <string>{388.00,382.00}</string>
      </dict>
      <key>kaishi_0007</key>
      <dict>
        <key>frame</key>
        <string>{{391,1},{380,250}}</string>
        <key>offset</key>
        <string>{0.00,-66.00}</string>
        <key>sourceSize</key>
        <string>{388.00,382.00}</string>
      </dict>
      <key>kaishi_0008</key>
      <dict>
        <key>frame</key>
        <string>{{391,993},{379,252}}</string>
        <key>offset</key>
        <string>{-0.50,-65.00}</string>
        <key>sourceSize</key>
        <string>{388.00,382.00}</string>
      </dict>
      <key>kaishi_0009</key>
      <dict>
        <key>frame</key>
        <string>{{391,492},{380,251}}</string>
        <key>offset</key>
        <string>{0.00,-65.50}</string>
        <key>sourceSize</key>
        <string>{388.00,382.00}</string>
      </dict>
      <key>kaishi_0010</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{388,382}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{388.00,382.00}</string>
      </dict>
      <key>kaishi_0011</key>
      <dict>
        <key>frame</key>
        <string>{{1,385},{388,382}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{388.00,382.00}</string>
      </dict>
      <key>kaishi_0012</key>
      <dict>
        <key>frame</key>
        <string>{{1,769},{388,382}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{388.00,382.00}</string>
      </dict>
      <key>kaishi_0013</key>
      <dict>
        <key>frame</key>
        <string>{{773,1},{333,229}}</string>
        <key>offset</key>
        <string>{-26.50,-35.50}</string>
        <key>sourceSize</key>
        <string>{388.00,382.00}</string>
      </dict>
      <key>kaishi_0014</key>
      <dict>
        <key>frame</key>
        <string>{{773,551},{300,173}}</string>
        <key>offset</key>
        <string>{-5.00,29.50}</string>
        <key>sourceSize</key>
        <string>{388.00,382.00}</string>
      </dict>
      <key>kaishi_0015</key>
      <dict>
        <key>frame</key>
        <string>{{773,374},{311,175}}</string>
        <key>offset</key>
        <string>{-4.50,75.50}</string>
        <key>sourceSize</key>
        <string>{388.00,382.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.58</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>kaishi.png</string>
      <key>realTextureFileName</key>
      <string>kaishi.png</string>
      <key>textureFileName</key>
      <string>kaishi.png</string>
      <key>size</key>
      <string>{1290,1384}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>dh</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>15</integer>
      </dict>
    </dict>
  </dict>
</plist>