<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>login_0000</key>
      <dict>
        <key>frame</key>
        <string>{{102,1405},{49,24}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{49.00,24.00}</string>
      </dict>
      <key>login_0001</key>
      <dict>
        <key>frame</key>
        <string>{{1,1405},{99,24}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{99.00,24.00}</string>
      </dict>
      <key>login_0002</key>
      <dict>
        <key>frame</key>
        <string>{{1,1236},{451,87}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{451.00,87.00}</string>
      </dict>
      <key>login_0003</key>
      <dict>
        <key>frame</key>
        <string>{{643,1},{64,87}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{64.00,87.00}</string>
      </dict>
      <key>login_0004</key>
      <dict>
        <key>frame</key>
        <string>{{586,1139},{85,85}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{85.00,85.00}</string>
      </dict>
      <key>login_0005</key>
      <dict>
        <key>frame</key>
        <string>{{490,1139},{94,75}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{94.00,75.00}</string>
      </dict>
      <key>login_0006</key>
      <dict>
        <key>frame</key>
        <string>{{1,1139},{487,87}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{487.00,87.00}</string>
      </dict>
      <key>login_0007</key>
      <dict>
        <key>frame</key>
        <string>{{1,1375},{113,28}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{113.00,28.00}</string>
      </dict>
      <key>login_0008</key>
      <dict>
        <key>frame</key>
        <string>{{454,1236},{402,147}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{402.00,147.00}</string>
      </dict>
      <key>login_0009</key>
      <dict>
        <key>frame</key>
        <string>{{1,1228},{484,6}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{484.00,6.00}</string>
      </dict>
      <key>login_0010</key>
      <dict>
        <key>frame</key>
        <string>{{190,1375},{32,40}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{32.00,40.00}</string>
      </dict>
      <key>login_0011</key>
      <dict>
        <key>frame</key>
        <string>{{153,1375},{35,39}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{35.00,39.00}</string>
      </dict>
      <key>login_0012</key>
      <dict>
        <key>frame</key>
        <string>{{224,1375},{25,39}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{25.00,39.00}</string>
      </dict>
      <key>login_0013</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{640,1136}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{640.00,1136.00}</string>
      </dict>
      <key>login_0014</key>
      <dict>
        <key>frame</key>
        <string>{{1,1325},{438.95,48.7}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{438.95,48.70}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.58</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>login.png</string>
      <key>realTextureFileName</key>
      <string>login.png</string>
      <key>textureFileName</key>
      <string>login.png</string>
      <key>size</key>
      <string>{942,1438}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>a29</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.56122</real>
        <key>anchorY</key>
        <real>0.42292</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>a32</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.52020</real>
        <key>anchorY</key>
        <real>0.42292</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>a35</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>ksdlbtn</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.51563</real>
        <key>anchorY</key>
        <real>0.49425</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>phonebtn</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.49412</real>
        <key>anchorY</key>
        <real>0.50588</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>wxbtn</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50667</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>zcbtn</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>zczhbtn</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>a12</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>a25</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>a26</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>10</integer>
      </dict>
      <key>a27</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>11</integer>
        <key>end</key>
        <integer>11</integer>
      </dict>
      <key>a34</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>12</integer>
        <key>end</key>
        <integer>12</integer>
      </dict>
      <key>a4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>13</integer>
        <key>end</key>
        <integer>13</integer>
      </dict>
      <key>InputText1</key>
      <dict>
        <key>type</key>
        <string>input</string>
        <key>anchorX</key>
        <real>0.00228</real>
        <key>anchorY</key>
        <real>0.97947</real>
        <key>start</key>
        <integer>14</integer>
        <key>end</key>
        <integer>14</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>Layer</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,640.00,1136.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i3670</key>
          <dict>
            <key>class</key>
            <string>a4</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,1136.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>DL</key>
          <dict>
            <key>class</key>
            <string>a30</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>74.10,346.20,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>ZC</key>
          <dict>
            <key>class</key>
            <string>register</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>303.25,588.30,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>i3684</key>
          <dict>
            <key>class</key>
            <string>a12</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>318.00,950.80,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>SJDL</key>
          <dict>
            <key>class</key>
            <string>a33</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>76.45,763.90,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>a30</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,491.85,282.55</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>ksdlbtn</key>
          <dict>
            <key>class</key>
            <string>ksdlbtn</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>441.85,232.55,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>sjbtn</key>
          <dict>
            <key>class</key>
            <string>phonebtn</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>50.00,232.55,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>wxbtn</key>
          <dict>
            <key>class</key>
            <string>wxbtn</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>252.80,232.55,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>zczhbtn</key>
          <dict>
            <key>class</key>
            <string>zczhbtn</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>227.30,14.00,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>a33</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,487.10,710.85</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.99627</real>
        <key>children</key>
        <dict>
          <key>i3780</key>
          <dict>
            <key>class</key>
            <string>a34</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>10.75,708.20,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>dlbtn</key>
          <dict>
            <key>class</key>
            <string>a35</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>239.85,457.55,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>i3773</key>
          <dict>
            <key>class</key>
            <string>a25</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>245.10,657.15,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>wjmmbtn</key>
          <dict>
            <key>class</key>
            <string>a32</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>226.90,21.80,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>i3777</key>
          <dict>
            <key>class</key>
            <string>a27</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>22.25,597.90,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>sj</key>
          <dict>
            <key>class</key>
            <string>InputText1</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>48.15,710.85,0.00,1.00000,1.00000,1.00,6,0.00,0.00,Arial,40,#000000,left,439,49</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <true/>
          </dict>
          <key>mm</key>
          <dict>
            <key>class</key>
            <string>InputText1</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>48.15,613.40,0.00,1.00000,1.00000,1.00,7,0.00,0.00,Arial,40,#000000,left,439,49</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <true/>
          </dict>
          <key>i3775</key>
          <dict>
            <key>class</key>
            <string>a25</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>242.00,558.75,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>register</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,492.95,708.35</string>
        <key>anchorX</key>
        <real>0.47195</real>
        <key>anchorY</key>
        <real>0.74688</real>
        <key>children</key>
        <dict>
          <key>i3838</key>
          <dict>
            <key>class</key>
            <string>InputText1</string>
            <key>zIndex</key>
            <integer>16</integer>
            <key>frames</key>
            <string>49.90,326.85,0.00,1.00000,1.00000,1.00,16,0.00,0.00,Arial,40,#000000,left,439,49</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <true/>
          </dict>
          <key>i3809</key>
          <dict>
            <key>class</key>
            <string>a25</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>250.95,655.60,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i3811</key>
          <dict>
            <key>class</key>
            <string>a25</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>247.85,557.20,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i3813</key>
          <dict>
            <key>class</key>
            <string>a25</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>247.85,366.20,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>i3815</key>
          <dict>
            <key>class</key>
            <string>a25</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>250.95,463.30,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>i3817</key>
          <dict>
            <key>class</key>
            <string>a25</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>250.95,273.85,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>i3819</key>
          <dict>
            <key>class</key>
            <string>a26</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>27.15,309.85,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>i3821</key>
          <dict>
            <key>class</key>
            <string>a27</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>28.10,497.70,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>dlbtn</key>
          <dict>
            <key>class</key>
            <string>a29</string>
            <key>zIndex</key>
            <integer>10</integer>
            <key>frames</key>
            <string>232.65,21.80,0.00,1.00000,1.00000,1.00,10,0.00,0.00</string>
          </dict>
          <key>zcbtn</key>
          <dict>
            <key>class</key>
            <string>zcbtn</string>
            <key>zIndex</key>
            <integer>9</integer>
            <key>frames</key>
            <string>243.50,158.00,0.00,1.00000,1.00000,1.00,9,0.00,0.00</string>
          </dict>
          <key>i3836</key>
          <dict>
            <key>class</key>
            <string>InputText1</string>
            <key>zIndex</key>
            <integer>15</integer>
            <key>frames</key>
            <string>49.90,421.25,0.00,1.00000,1.00000,1.00,15,0.00,0.00,Arial,40,#000000,left,439,49</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <true/>
          </dict>
          <key>i3823</key>
          <dict>
            <key>class</key>
            <string>a27</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>28.65,403.75,0.00,1.00000,1.00000,1.00,7,0.00,0.00</string>
          </dict>
          <key>i3825</key>
          <dict>
            <key>class</key>
            <string>a27</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>28.10,596.35,0.00,1.00000,1.00000,1.00,8,0.00,0.00</string>
          </dict>
          <key>i3834</key>
          <dict>
            <key>class</key>
            <string>InputText1</string>
            <key>zIndex</key>
            <integer>14</integer>
            <key>frames</key>
            <string>49.90,516.20,0.00,1.00000,1.00000,1.00,14,0.00,0.00,Arial,40,#000000,left,439,49</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <true/>
          </dict>
          <key>sj</key>
          <dict>
            <key>class</key>
            <string>InputText1</string>
            <key>zIndex</key>
            <integer>12</integer>
            <key>frames</key>
            <string>49.90,708.35,0.00,1.00000,1.00000,1.00,12,0.00,0.00,Arial,40,#000000,left,439,49</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <true/>
          </dict>
          <key>i3832</key>
          <dict>
            <key>class</key>
            <string>InputText1</string>
            <key>zIndex</key>
            <integer>13</integer>
            <key>frames</key>
            <string>49.90,609.85,0.00,1.00000,1.00000,1.00,13,0.00,0.00,Arial,40,#000000,left,439,49</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <true/>
          </dict>
          <key>i3829</key>
          <dict>
            <key>class</key>
            <string>a34</string>
            <key>zIndex</key>
            <integer>11</integer>
            <key>frames</key>
            <string>18.60,704.65,0.00,1.00000,1.00000,1.00,11,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>