<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>RunGame_0000</key>
      <dict>
        <key>frame</key>
        <string>{{238,464},{170,159}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{170.00,159.00}</string>
      </dict>
      <key>RunGame_0001</key>
      <dict>
        <key>frame</key>
        <string>{{1,464},{235,166}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{235.00,166.00}</string>
      </dict>
      <key>RunGame_0002</key>
      <dict>
        <key>frame</key>
        <string>{{1,227},{238,233}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{238.00,233.00}</string>
      </dict>
      <key>RunGame_0003</key>
      <dict>
        <key>frame</key>
        <string>{{241,227},{235,235}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{235.00,235.00}</string>
      </dict>
      <key>RunGame_0004</key>
      <dict>
        <key>frame</key>
        <string>{{478,1},{98,235}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{98.00,235.00}</string>
      </dict>
      <key>RunGame_0005</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{244,224}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{244.00,224.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.58</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>RunGame.png</string>
      <key>realTextureFileName</key>
      <string>RunGame.png</string>
      <key>textureFileName</key>
      <string>RunGame.png</string>
      <key>size</key>
      <string>{646,638}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>a13</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.70000</real>
        <key>anchorY</key>
        <real>0.73270</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>a15</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49362</real>
        <key>anchorY</key>
        <real>0.70783</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>a16</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>a17</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49787</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>a18</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>a2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>Layer</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,1920.05,1200.00</string>
        <key>anchorX</key>
        <real>0.49999</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>index_7</key>
          <dict>
            <key>class</key>
            <string>a13</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>1002.80,805.45,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>index_1</key>
          <dict>
            <key>class</key>
            <string>a18</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>524.30,570.45,0.00,1.00000,1.00000,1.00,7,0.00,0.00</string>
          </dict>
          <key>index_6</key>
          <dict>
            <key>class</key>
            <string>a15</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>764.80,805.45,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>index_5</key>
          <dict>
            <key>class</key>
            <string>a16</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>526.80,805.45,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i14773</key>
          <dict>
            <key>class</key>
            <string>a2</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,1200.00,0.00,7.86896,5.35715,1.00,0,0.00,0.00</string>
          </dict>
          <key>index_4</key>
          <dict>
            <key>class</key>
            <string>a17</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>1232.10,570.45,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>index_3</key>
          <dict>
            <key>class</key>
            <string>a18</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>1002.80,569.65,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>index_2</key>
          <dict>
            <key>class</key>
            <string>a18</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>764.80,569.65,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>