<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>RunGame_0000</key>
      <dict>
        <key>frame</key>
        <string>{{282,835},{58,58}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{58.00,58.00}</string>
      </dict>
      <key>RunGame_0001</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{960,640}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{960.00,640.00}</string>
      </dict>
      <key>RunGame_0002</key>
      <dict>
        <key>frame</key>
        <string>{{204,990},{113,67}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{113.00,67.00}</string>
      </dict>
      <key>RunGame_0003</key>
      <dict>
        <key>frame</key>
        <string>{{342,835},{53,53}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{53.00,53.00}</string>
      </dict>
      <key>RunGame_0004</key>
      <dict>
        <key>frame</key>
        <string>{{160,1064},{157,53}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{157.00,53.00}</string>
      </dict>
      <key>RunGame_0005</key>
      <dict>
        <key>frame</key>
        <string>{{429,817},{1,149}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{1.00,149.00}</string>
      </dict>
      <key>RunGame_0006</key>
      <dict>
        <key>frame</key>
        <string>{{341,895},{53,53}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{53.00,53.00}</string>
      </dict>
      <key>RunGame_0007</key>
      <dict>
        <key>frame</key>
        <string>{{319,964},{57,67}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{57.00,67.00}</string>
      </dict>
      <key>RunGame_0008</key>
      <dict>
        <key>frame</key>
        <string>{{282,895},{57,67}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{57.00,67.00}</string>
      </dict>
      <key>RunGame_0009</key>
      <dict>
        <key>frame</key>
        <string>{{396,890},{31,86}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{31.00,86.00}</string>
      </dict>
      <key>RunGame_0010</key>
      <dict>
        <key>frame</key>
        <string>{{776,643},{520,447}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{520.00,447.00}</string>
      </dict>
      <key>RunGame_0011</key>
      <dict>
        <key>frame</key>
        <string>{{1,835},{279,153}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{279.00,153.00}</string>
      </dict>
      <key>RunGame_0012</key>
      <dict>
        <key>frame</key>
        <string>{{1,754},{379,79}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{379.00,79.00}</string>
      </dict>
      <key>RunGame_0013</key>
      <dict>
        <key>frame</key>
        <string>{{1,643},{773,109}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{773.00,109.00}</string>
      </dict>
      <key>RunGame_0014</key>
      <dict>
        <key>frame</key>
        <string>{{1,990},{201,72}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{201.00,72.00}</string>
      </dict>
      <key>RunGame_0015</key>
      <dict>
        <key>frame</key>
        <string>{{374,1092},{41,40}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{41.00,40.00}</string>
      </dict>
      <key>RunGame_0016</key>
      <dict>
        <key>frame</key>
        <string>{{374,1033},{41,40}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{41.00,40.00}</string>
      </dict>
      <key>RunGame_0017</key>
      <dict>
        <key>frame</key>
        <string>{{963,1},{389,389}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{389.00,389.00}</string>
      </dict>
      <key>RunGame_0018</key>
      <dict>
        <key>frame</key>
        <string>{{319,1088},{53,53}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{53.00,53.00}</string>
      </dict>
      <key>RunGame_0019</key>
      <dict>
        <key>frame</key>
        <string>{{319,1033},{53,53}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{53.00,53.00}</string>
      </dict>
      <key>RunGame_0020</key>
      <dict>
        <key>frame</key>
        <string>{{1,1064},{157,53}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{157.00,53.00}</string>
      </dict>
      <key>RunGame_0021</key>
      <dict>
        <key>frame</key>
        <string>{{397,817},{24,30}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{26.00,30.00}</string>
      </dict>
      <key>RunGame_0022</key>
      <dict>
        <key>frame</key>
        <string>{{417,1040},{17,29}}</string>
        <key>offset</key>
        <string>{0.50,0.50}</string>
        <key>sourceSize</key>
        <string>{26.00,30.00}</string>
      </dict>
      <key>RunGame_0023</key>
      <dict>
        <key>frame</key>
        <string>{{409,754},{22,29}}</string>
        <key>offset</key>
        <string>{0.00,0.50}</string>
        <key>sourceSize</key>
        <string>{26.00,30.00}</string>
      </dict>
      <key>RunGame_0024</key>
      <dict>
        <key>frame</key>
        <string>{{408,785},{24,30}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{26.00,30.00}</string>
      </dict>
      <key>RunGame_0025</key>
      <dict>
        <key>frame</key>
        <string>{{382,754},{25,29}}</string>
        <key>offset</key>
        <string>{-0.50,0.50}</string>
        <key>sourceSize</key>
        <string>{26.00,30.00}</string>
      </dict>
      <key>RunGame_0026</key>
      <dict>
        <key>frame</key>
        <string>{{397,849},{24,29}}</string>
        <key>offset</key>
        <string>{0.00,-0.50}</string>
        <key>sourceSize</key>
        <string>{26.00,30.00}</string>
      </dict>
      <key>RunGame_0027</key>
      <dict>
        <key>frame</key>
        <string>{{405,978},{23,30}}</string>
        <key>offset</key>
        <string>{0.50,0.00}</string>
        <key>sourceSize</key>
        <string>{26.00,30.00}</string>
      </dict>
      <key>RunGame_0028</key>
      <dict>
        <key>frame</key>
        <string>{{417,1010},{22,28}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{26.00,30.00}</string>
      </dict>
      <key>RunGame_0029</key>
      <dict>
        <key>frame</key>
        <string>{{378,978},{25,30}}</string>
        <key>offset</key>
        <string>{0.50,0.00}</string>
        <key>sourceSize</key>
        <string>{26.00,30.00}</string>
      </dict>
      <key>RunGame_0030</key>
      <dict>
        <key>frame</key>
        <string>{{382,785},{24,30}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{26.00,30.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.58</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>RunGame.png</string>
      <key>realTextureFileName</key>
      <string>RunGame.png</string>
      <key>textureFileName</key>
      <string>RunGame.png</string>
      <key>size</key>
      <string>{1362,1142}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>a41</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>a21</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>a22</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>a25</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>a26</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>a27</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>a31</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>a34</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>a35</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>a36</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>a37</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.49888</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>10</integer>
      </dict>
      <key>a38</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50327</real>
        <key>start</key>
        <integer>11</integer>
        <key>end</key>
        <integer>11</integer>
      </dict>
      <key>a39</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>12</integer>
        <key>end</key>
        <integer>12</integer>
      </dict>
      <key>a40</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>13</integer>
        <key>end</key>
        <integer>13</integer>
      </dict>
      <key>a42</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>14</integer>
        <key>end</key>
        <integer>14</integer>
      </dict>
      <key>a43</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>15</integer>
        <key>end</key>
        <integer>15</integer>
      </dict>
      <key>a44</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>16</integer>
        <key>end</key>
        <integer>16</integer>
      </dict>
      <key>a6</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>17</integer>
        <key>end</key>
        <integer>17</integer>
      </dict>
      <key>sp1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>18</integer>
        <key>end</key>
        <integer>18</integer>
      </dict>
      <key>sp2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>19</integer>
        <key>end</key>
        <integer>19</integer>
      </dict>
      <key>test1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>20</integer>
        <key>end</key>
        <integer>20</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>Layer</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,1022.00,649.00</string>
        <key>anchorX</key>
        <real>0.53033</real>
        <key>anchorY</key>
        <real>0.49307</real>
        <key>children</key>
        <dict>
          <key>i139421</key>
          <dict>
            <key>class</key>
            <string>a44</string>
            <key>zIndex</key>
            <integer>12</integer>
            <key>frames</key>
            <string>915.00,603.50,0.00,1.00000,1.00000,1.00,12,0.00,0.00</string>
          </dict>
          <key>i139417</key>
          <dict>
            <key>class</key>
            <string>a42</string>
            <key>zIndex</key>
            <integer>9</integer>
            <key>frames</key>
            <string>178.40,44.10,0.00,1.00000,1.00000,1.00,9,0.00,0.00</string>
          </dict>
          <key>i139401</key>
          <dict>
            <key>class</key>
            <string>a21</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>62.00,640.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>scoreTxt0</key>
          <dict>
            <key>class</key>
            <string>zt1</string>
            <key>zIndex</key>
            <integer>10</integer>
            <key>frames</key>
            <string>824.00,631.00,0.00,1.00000,1.00000,1.00,10,0.00,0.00,Rockwell Extra Bold_40pt_st,40,#FF6600,center,64,51</string>
            <key>text</key>
            <string>10</string>
            <key>input</key>
            <false/>
          </dict>
          <key>i139403</key>
          <dict>
            <key>class</key>
            <string>a38</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>696.50,502.50,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i139405</key>
          <dict>
            <key>class</key>
            <string>a39</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>705.00,481.95,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>chukou</key>
          <dict>
            <key>class</key>
            <string>a36</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>880.50,245.70,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>lev1</key>
          <dict>
            <key>class</key>
            <string>lev1</string>
            <key>zIndex</key>
            <integer>13</integer>
            <key>frames</key>
            <string>1021.95,0.05,0.00,1.00000,1.00000,1.00,13,0.00,0.00</string>
          </dict>
          <key>i139407</key>
          <dict>
            <key>class</key>
            <string>a37</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>692.30,252.55,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>gk_btn</key>
          <dict>
            <key>class</key>
            <string>a41</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>982.30,604.00,0.00,1.00000,1.00000,1.00,8,0.00,0.00</string>
          </dict>
          <key>map</key>
          <dict>
            <key>class</key>
            <string>map</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>703.45,261.10,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>i139412</key>
          <dict>
            <key>class</key>
            <string>a40</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>386.50,54.50,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>lev2</key>
          <dict>
            <key>class</key>
            <string>lev2</string>
            <key>zIndex</key>
            <integer>14</integer>
            <key>frames</key>
            <string>1021.95,0.05,0.00,1.00000,1.00000,1.00,14,0.00,0.00</string>
          </dict>
          <key>i139419</key>
          <dict>
            <key>class</key>
            <string>a43</string>
            <key>zIndex</key>
            <integer>11</integer>
            <key>frames</key>
            <string>804.90,606.00,0.00,1.00000,1.00000,1.00,11,0.00,0.00</string>
          </dict>
          <key>i139414</key>
          <dict>
            <key>class</key>
            <string>a40</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>635.50,594.50,180.00,1.00000,1.00000,0.87,7,-180.00,180.00</string>
          </dict>
        </dict>
      </dict>
      <key>a24</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,53.00,159.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i139515</key>
          <dict>
            <key>class</key>
            <string>a25</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>26.50,132.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>touch</key>
          <dict>
            <key>class</key>
            <string>a26</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>26.50,80.50,89.99,1.00000,1.00000,1.00,3,89.99,89.99</string>
          </dict>
          <key>i139517</key>
          <dict>
            <key>class</key>
            <string>a25</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>26.50,26.50,180.00,1.00000,1.00000,1.00,1,-180.00,180.00</string>
          </dict>
          <key>i139519</key>
          <dict>
            <key>class</key>
            <string>sp2</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>26.50,79.50,89.99,1.00000,1.00000,1.00,2,89.99,89.99</string>
          </dict>
        </dict>
      </dict>
      <key>a30</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,106.00,53.00</string>
        <key>anchorX</key>
        <real>0.25000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i139547</key>
          <dict>
            <key>class</key>
            <string>sp1</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>79.50,26.50,180.00,1.00000,1.00000,1.00,0,-180.00,180.00</string>
          </dict>
          <key>i139549</key>
          <dict>
            <key>class</key>
            <string>a31</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>26.50,26.50,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>a33</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,114.00,67.00</string>
        <key>anchorX</key>
        <real>0.50877</real>
        <key>anchorY</key>
        <real>0.47687</real>
        <key>children</key>
        <dict>
          <key>i139575</key>
          <dict>
            <key>class</key>
            <string>a34</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>85.50,33.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i139578</key>
          <dict>
            <key>class</key>
            <string>a35</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>28.50,33.50,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>a52</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,244.00,224.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict/>
      </dict>
      <key>lev1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,960.95,640.95</string>
        <key>anchorX</key>
        <real>0.99896</real>
        <key>anchorY</key>
        <real>0.00156</real>
        <key>children</key>
        <dict>
          <key>test0</key>
          <dict>
            <key>class</key>
            <string>a33</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>551.95,259.45,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>test2</key>
          <dict>
            <key>class</key>
            <string>a24</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>675.95,301.65,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>test4</key>
          <dict>
            <key>class</key>
            <string>a30</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>762.25,280.50,89.99,1.00000,1.00000,1.00,5,89.99,89.99</string>
          </dict>
          <key>i139630</key>
          <dict>
            <key>class</key>
            <string>a52</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>480.00,320.95,0.00,3.93443,2.85715,1.00,0,0.00,0.00</string>
          </dict>
          <key>test1</key>
          <dict>
            <key>class</key>
            <string>test2</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>555.90,407.95,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>test3</key>
          <dict>
            <key>class</key>
            <string>a30</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>507.75,138.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>lev2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,960.95,640.95</string>
        <key>anchorX</key>
        <real>0.99896</real>
        <key>anchorY</key>
        <real>0.00156</real>
        <key>children</key>
        <dict>
          <key>test6</key>
          <dict>
            <key>class</key>
            <string>a30</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>716.75,138.00,0.00,1.00000,1.00000,1.00,7,0.00,0.00</string>
          </dict>
          <key>test1</key>
          <dict>
            <key>class</key>
            <string>a30</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>510.95,398.95,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>test5</key>
          <dict>
            <key>class</key>
            <string>test2</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>563.90,198.00,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>i139686</key>
          <dict>
            <key>class</key>
            <string>a52</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>480.00,320.95,0.00,3.93443,2.85715,1.00,0,0.00,0.00</string>
          </dict>
          <key>test4</key>
          <dict>
            <key>class</key>
            <string>a30</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>680.45,304.00,89.99,1.00000,1.00000,1.00,4,89.99,89.99</string>
          </dict>
          <key>test0</key>
          <dict>
            <key>class</key>
            <string>a33</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>597.95,256.45,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>test2</key>
          <dict>
            <key>class</key>
            <string>a30</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>716.75,398.95,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>test3</key>
          <dict>
            <key>class</key>
            <string>a30</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>513.45,304.00,89.99,1.00000,1.00000,1.00,3,89.99,89.99</string>
          </dict>
        </dict>
      </dict>
      <key>map</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,389.00,389.00</string>
        <key>anchorX</key>
        <real>0.49987</real>
        <key>anchorY</key>
        <real>0.50013</real>
        <key>children</key>
        <dict>
          <key>i139746</key>
          <dict>
            <key>class</key>
            <string>a6</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,389.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>test2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,157.00,53.00</string>
        <key>anchorX</key>
        <real>0.50605</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>zx</key>
          <dict>
            <key>class</key>
            <string>sp2</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>79.50,26.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i139776</key>
          <dict>
            <key>class</key>
            <string>sp1</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>130.50,26.50,180.00,1.00000,1.00000,1.00,2,-180.00,180.00</string>
          </dict>
          <key>touch</key>
          <dict>
            <key>class</key>
            <string>a26</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>78.50,26.50,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>i139774</key>
          <dict>
            <key>class</key>
            <string>sp1</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>28.50,26.50,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
    <key>fonts</key>
    <dict>
      <key>zt1</key>
      <dict>
        <key>start</key>
        <integer>21</integer>
        <key>end</key>
        <integer>30</integer>
        <key>size</key>
        <integer>40</integer>
        <key>chars</key>
        <string>0123456789</string>
        <key>anchorX</key>
        <real>-0.19231</real>
        <key>anchorY</key>
        <real>1.40000</real>
      </dict>
    </dict>
  </dict>
</plist>