<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>test_0000</key>
      <dict>
        <key>frame</key>
        <string>{{1,1381},{49,24}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{49.00,24.00}</string>
      </dict>
      <key>test_0001</key>
      <dict>
        <key>frame</key>
        <string>{{1,1355},{99,24}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{99.00,24.00}</string>
      </dict>
      <key>test_0002</key>
      <dict>
        <key>frame</key>
        <string>{{1,1236},{451,87}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{451.00,87.00}</string>
      </dict>
      <key>test_0003</key>
      <dict>
        <key>frame</key>
        <string>{{285,1325},{64,87}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{64.00,87.00}</string>
      </dict>
      <key>test_0004</key>
      <dict>
        <key>frame</key>
        <string>{{198,1325},{85,85}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{85.00,85.00}</string>
      </dict>
      <key>test_0005</key>
      <dict>
        <key>frame</key>
        <string>{{102,1355},{94,75}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{94.00,75.00}</string>
      </dict>
      <key>test_0006</key>
      <dict>
        <key>frame</key>
        <string>{{1,1139},{487,87}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{487.00,87.00}</string>
      </dict>
      <key>test_0007</key>
      <dict>
        <key>frame</key>
        <string>{{1,1325},{113,28}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{113.00,28.00}</string>
      </dict>
      <key>test_0008</key>
      <dict>
        <key>frame</key>
        <string>{{454,1236},{402,147}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{402.00,147.00}</string>
      </dict>
      <key>test_0009</key>
      <dict>
        <key>frame</key>
        <string>{{1,1228},{484,6}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{484.00,6.00}</string>
      </dict>
      <key>test_0010</key>
      <dict>
        <key>frame</key>
        <string>{{351,1385},{32,40}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{32.00,40.00}</string>
      </dict>
      <key>test_0011</key>
      <dict>
        <key>frame</key>
        <string>{{52,1381},{35,39}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{35.00,39.00}</string>
      </dict>
      <key>test_0012</key>
      <dict>
        <key>frame</key>
        <string>{{351,1325},{25,39}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{25.00,39.00}</string>
      </dict>
      <key>test_0013</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{640,1136}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{640.00,1136.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.58</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>test.png</string>
      <key>realTextureFileName</key>
      <string>test.png</string>
      <key>textureFileName</key>
      <string>test.png</string>
      <key>size</key>
      <string>{942,1438}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>a29</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.56122</real>
        <key>anchorY</key>
        <real>0.42292</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>a32</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.52020</real>
        <key>anchorY</key>
        <real>0.42292</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>a35</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>ksdlbtn</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.51563</real>
        <key>anchorY</key>
        <real>0.49425</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>phonebtn</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.49412</real>
        <key>anchorY</key>
        <real>0.50588</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>wxbtn</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50667</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>zcbtn</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>zczhbtn</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>a12</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>a25</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>a26</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>10</integer>
      </dict>
      <key>a27</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>11</integer>
        <key>end</key>
        <integer>11</integer>
      </dict>
      <key>a34</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>12</integer>
        <key>end</key>
        <integer>12</integer>
      </dict>
      <key>a4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>13</integer>
        <key>end</key>
        <integer>13</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>Layer</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,640.00,1136.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i20707</key>
          <dict>
            <key>class</key>
            <string>a4</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,1136.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i20709</key>
          <dict>
            <key>class</key>
            <string>a12</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>318.00,950.80,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>btn</key>
          <dict>
            <key>class</key>
            <string>ksdlbtn</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>317.00,575.95,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>a30</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,491.85,282.55</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>sjbtn</key>
          <dict>
            <key>class</key>
            <string>phonebtn</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>50.00,232.55,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>wxbtn</key>
          <dict>
            <key>class</key>
            <string>wxbtn</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>252.80,232.55,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>zczhbtn</key>
          <dict>
            <key>class</key>
            <string>zczhbtn</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>227.30,14.00,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>ksdlbtn</key>
          <dict>
            <key>class</key>
            <string>ksdlbtn</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>441.85,232.55,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>a33</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,487.10,708.20</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>dlbtn</key>
          <dict>
            <key>class</key>
            <string>a35</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>239.85,457.55,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>i20770</key>
          <dict>
            <key>class</key>
            <string>a32</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>226.90,21.80,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>i20772</key>
          <dict>
            <key>class</key>
            <string>a34</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>10.75,708.20,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>i20766</key>
          <dict>
            <key>class</key>
            <string>a25</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>242.00,558.75,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i20764</key>
          <dict>
            <key>class</key>
            <string>a25</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>245.10,657.15,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i20768</key>
          <dict>
            <key>class</key>
            <string>a27</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>22.25,597.90,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>register</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,492.95,706.65</string>
        <key>anchorX</key>
        <real>0.47195</real>
        <key>anchorY</key>
        <real>0.74867</real>
        <key>children</key>
        <dict>
          <key>i20812</key>
          <dict>
            <key>class</key>
            <string>a27</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>28.10,497.70,0.00,1.00000,1.00000,1.00,7,0.00,0.00</string>
          </dict>
          <key>i20799</key>
          <dict>
            <key>class</key>
            <string>a25</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>250.95,655.60,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i20806</key>
          <dict>
            <key>class</key>
            <string>a25</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>250.95,463.30,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>i20808</key>
          <dict>
            <key>class</key>
            <string>a25</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>250.95,273.85,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>i20810</key>
          <dict>
            <key>class</key>
            <string>a26</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>27.15,309.85,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>i20816</key>
          <dict>
            <key>class</key>
            <string>a27</string>
            <key>zIndex</key>
            <integer>9</integer>
            <key>frames</key>
            <string>28.10,596.35,0.00,1.00000,1.00000,1.00,9,0.00,0.00</string>
          </dict>
          <key>dlbtn</key>
          <dict>
            <key>class</key>
            <string>a29</string>
            <key>zIndex</key>
            <integer>11</integer>
            <key>frames</key>
            <string>232.65,21.80,0.00,1.00000,1.00000,1.00,11,0.00,0.00</string>
          </dict>
          <key>i20804</key>
          <dict>
            <key>class</key>
            <string>a25</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>247.85,366.20,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>i20814</key>
          <dict>
            <key>class</key>
            <string>a27</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>28.65,403.75,0.00,1.00000,1.00000,1.00,8,0.00,0.00</string>
          </dict>
          <key>i20818</key>
          <dict>
            <key>class</key>
            <string>zcbtn</string>
            <key>zIndex</key>
            <integer>10</integer>
            <key>frames</key>
            <string>243.50,158.00,0.00,1.00000,1.00000,1.00,10,0.00,0.00</string>
          </dict>
          <key>i20802</key>
          <dict>
            <key>class</key>
            <string>a25</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>247.85,557.20,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>