<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>zhudh_0000</key>
      <dict>
        <key>frame</key>
        <string>{{1,189},{607,189}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{607.00,189.00}</string>
      </dict>
      <key>zhudh_0001</key>
      <dict>
        <key>frame</key>
        <string>{{1,380},{607,181}}</string>
        <key>offset</key>
        <string>{0.00,-4.00}</string>
        <key>sourceSize</key>
        <string>{607.00,189.00}</string>
      </dict>
      <key>zhudh_0002</key>
      <dict>
        <key>frame</key>
        <string>{{609,563},{606,169}}</string>
        <key>offset</key>
        <string>{-0.50,-10.00}</string>
        <key>sourceSize</key>
        <string>{607.00,189.00}</string>
      </dict>
      <key>zhudh_0003</key>
      <dict>
        <key>frame</key>
        <string>{{609,923},{605,166}}</string>
        <key>offset</key>
        <string>{-1.00,-11.50}</string>
        <key>sourceSize</key>
        <string>{607.00,189.00}</string>
      </dict>
      <key>zhudh_0004</key>
      <dict>
        <key>frame</key>
        <string>{{1,734},{606,159}}</string>
        <key>offset</key>
        <string>{-0.50,-15.00}</string>
        <key>sourceSize</key>
        <string>{607.00,189.00}</string>
      </dict>
      <key>zhudh_0005</key>
      <dict>
        <key>frame</key>
        <string>{{610,342},{595,168}}</string>
        <key>offset</key>
        <string>{-6.00,-10.50}</string>
        <key>sourceSize</key>
        <string>{607.00,189.00}</string>
      </dict>
      <key>zhudh_0006</key>
      <dict>
        <key>frame</key>
        <string>{{610,1},{603,168}}</string>
        <key>offset</key>
        <string>{-1.00,-10.50}</string>
        <key>sourceSize</key>
        <string>{607.00,189.00}</string>
      </dict>
      <key>zhudh_0007</key>
      <dict>
        <key>frame</key>
        <string>{{610,171},{602,169}}</string>
        <key>offset</key>
        <string>{-1.50,-10.00}</string>
        <key>sourceSize</key>
        <string>{607.00,189.00}</string>
      </dict>
      <key>zhudh_0008</key>
      <dict>
        <key>frame</key>
        <string>{{1,563},{606,169}}</string>
        <key>offset</key>
        <string>{-0.50,-10.00}</string>
        <key>sourceSize</key>
        <string>{607.00,189.00}</string>
      </dict>
      <key>zhudh_0009</key>
      <dict>
        <key>frame</key>
        <string>{{1,895},{606,173}}</string>
        <key>offset</key>
        <string>{0.50,-8.00}</string>
        <key>sourceSize</key>
        <string>{607.00,189.00}</string>
      </dict>
      <key>zhudh_0010</key>
      <dict>
        <key>frame</key>
        <string>{{609,734},{605,187}}</string>
        <key>offset</key>
        <string>{0.00,-1.00}</string>
        <key>sourceSize</key>
        <string>{607.00,189.00}</string>
      </dict>
      <key>zhudh_0011</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{607,186}}</string>
        <key>offset</key>
        <string>{0.00,-1.50}</string>
        <key>sourceSize</key>
        <string>{607.00,189.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.58</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>zhudh.png</string>
      <key>realTextureFileName</key>
      <string>zhudh.png</string>
      <key>textureFileName</key>
      <string>zhudh.png</string>
      <key>size</key>
      <string>{1410,1092}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>dh</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>11</integer>
      </dict>
    </dict>
  </dict>
</plist>