<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>GameMove_0000</key>
      <dict>
        <key>frame</key>
        <string>{{1,308},{116,111}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{116.00,111.00}</string>
      </dict>
      <key>GameMove_0001</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{2161,11}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{2161.00,11.00}</string>
      </dict>
      <key>GameMove_0002</key>
      <dict>
        <key>frame</key>
        <string>{{1,14},{1547,144}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{1547.00,144.00}</string>
      </dict>
      <key>GameMove_0003</key>
      <dict>
        <key>frame</key>
        <string>{{1,160},{175,146}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{175.00,146.00}</string>
      </dict>
      <key>GameMove_0004</key>
      <dict>
        <key>frame</key>
        <string>{{1479,264},{93,104}}</string>
        <key>offset</key>
        <string>{-1.00,1.50}</string>
        <key>sourceSize</key>
        <string>{107.00,107.00}</string>
      </dict>
      <key>GameMove_0005</key>
      <dict>
        <key>frame</key>
        <string>{{1074,160},{103,105}}</string>
        <key>offset</key>
        <string>{-1.00,1.00}</string>
        <key>sourceSize</key>
        <string>{107.00,107.00}</string>
      </dict>
      <key>GameMove_0006</key>
      <dict>
        <key>frame</key>
        <string>{{1074,267},{102,100}}</string>
        <key>offset</key>
        <string>{-1.50,-0.50}</string>
        <key>sourceSize</key>
        <string>{107.00,107.00}</string>
      </dict>
      <key>GameMove_0007</key>
      <dict>
        <key>frame</key>
        <string>{{333,267},{105,106}}</string>
        <key>offset</key>
        <string>{-1.00,0.50}</string>
        <key>sourceSize</key>
        <string>{107.00,107.00}</string>
      </dict>
      <key>GameMove_0008</key>
      <dict>
        <key>frame</key>
        <string>{{711,160},{104,105}}</string>
        <key>offset</key>
        <string>{-0.50,1.00}</string>
        <key>sourceSize</key>
        <string>{107.00,107.00}</string>
      </dict>
      <key>GameMove_0009</key>
      <dict>
        <key>frame</key>
        <string>{{1381,266},{96,102}}</string>
        <key>offset</key>
        <string>{-0.50,0.50}</string>
        <key>sourceSize</key>
        <string>{107.00,107.00}</string>
      </dict>
      <key>GameMove_0010</key>
      <dict>
        <key>frame</key>
        <string>{{1382,160},{96,102}}</string>
        <key>offset</key>
        <string>{-0.50,-0.50}</string>
        <key>sourceSize</key>
        <string>{107.00,107.00}</string>
      </dict>
      <key>GameMove_0011</key>
      <dict>
        <key>frame</key>
        <string>{{392,160},{105,105}}</string>
        <key>offset</key>
        <string>{0.00,1.00}</string>
        <key>sourceSize</key>
        <string>{107.00,107.00}</string>
      </dict>
      <key>GameMove_0012</key>
      <dict>
        <key>frame</key>
        <string>{{1178,267},{101,105}}</string>
        <key>offset</key>
        <string>{0.00,1.00}</string>
        <key>sourceSize</key>
        <string>{107.00,107.00}</string>
      </dict>
      <key>GameMove_0013</key>
      <dict>
        <key>frame</key>
        <string>{{178,268},{26,38}}</string>
        <key>offset</key>
        <string>{-27.50,-28.50}</string>
        <key>sourceSize</key>
        <string>{107.00,107.00}</string>
      </dict>
      <key>GameMove_0014</key>
      <dict>
        <key>frame</key>
        <string>{{226,268},{105,103}}</string>
        <key>offset</key>
        <string>{-1.00,0.00}</string>
        <key>sourceSize</key>
        <string>{107.00,107.00}</string>
      </dict>
      <key>GameMove_0015</key>
      <dict>
        <key>frame</key>
        <string>{{969,265},{103,105}}</string>
        <key>offset</key>
        <string>{-1.00,1.00}</string>
        <key>sourceSize</key>
        <string>{107.00,107.00}</string>
      </dict>
      <key>GameMove_0016</key>
      <dict>
        <key>frame</key>
        <string>{{178,160},{105,106}}</string>
        <key>offset</key>
        <string>{1.00,0.50}</string>
        <key>sourceSize</key>
        <string>{107.00,107.00}</string>
      </dict>
      <key>GameMove_0017</key>
      <dict>
        <key>frame</key>
        <string>{{922,160},{103,103}}</string>
        <key>offset</key>
        <string>{-1.00,1.00}</string>
        <key>sourceSize</key>
        <string>{107.00,107.00}</string>
      </dict>
      <key>GameMove_0018</key>
      <dict>
        <key>frame</key>
        <string>{{1179,160},{100,104}}</string>
        <key>offset</key>
        <string>{-0.50,-0.50}</string>
        <key>sourceSize</key>
        <string>{107.00,107.00}</string>
      </dict>
      <key>GameMove_0019</key>
      <dict>
        <key>frame</key>
        <string>{{285,160},{105,105}}</string>
        <key>offset</key>
        <string>{1.00,1.00}</string>
        <key>sourceSize</key>
        <string>{107.00,107.00}</string>
      </dict>
      <key>GameMove_0020</key>
      <dict>
        <key>frame</key>
        <string>{{119,308},{105,104}}</string>
        <key>offset</key>
        <string>{0.00,0.50}</string>
        <key>sourceSize</key>
        <string>{107.00,107.00}</string>
      </dict>
      <key>GameMove_0021</key>
      <dict>
        <key>frame</key>
        <string>{{653,267},{104,104}}</string>
        <key>offset</key>
        <string>{0.50,0.50}</string>
        <key>sourceSize</key>
        <string>{107.00,107.00}</string>
      </dict>
      <key>GameMove_0022</key>
      <dict>
        <key>frame</key>
        <string>{{605,160},{104,105}}</string>
        <key>offset</key>
        <string>{0.50,1.00}</string>
        <key>sourceSize</key>
        <string>{107.00,107.00}</string>
      </dict>
      <key>GameMove_0023</key>
      <dict>
        <key>frame</key>
        <string>{{1281,266},{98,102}}</string>
        <key>offset</key>
        <string>{-1.50,-0.50}</string>
        <key>sourceSize</key>
        <string>{107.00,107.00}</string>
      </dict>
      <key>GameMove_0024</key>
      <dict>
        <key>frame</key>
        <string>{{864,266},{103,103}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{107.00,107.00}</string>
      </dict>
      <key>GameMove_0025</key>
      <dict>
        <key>frame</key>
        <string>{{1281,160},{99,104}}</string>
        <key>offset</key>
        <string>{-1.00,0.50}</string>
        <key>sourceSize</key>
        <string>{107.00,107.00}</string>
      </dict>
      <key>GameMove_0026</key>
      <dict>
        <key>frame</key>
        <string>{{499,160},{104,105}}</string>
        <key>offset</key>
        <string>{1.50,1.00}</string>
        <key>sourceSize</key>
        <string>{107.00,107.00}</string>
      </dict>
      <key>GameMove_0027</key>
      <dict>
        <key>frame</key>
        <string>{{440,267},{105,104}}</string>
        <key>offset</key>
        <string>{-1.00,0.50}</string>
        <key>sourceSize</key>
        <string>{107.00,107.00}</string>
      </dict>
      <key>GameMove_0028</key>
      <dict>
        <key>frame</key>
        <string>{{759,267},{103,104}}</string>
        <key>offset</key>
        <string>{-1.00,0.50}</string>
        <key>sourceSize</key>
        <string>{107.00,107.00}</string>
      </dict>
      <key>GameMove_0029</key>
      <dict>
        <key>frame</key>
        <string>{{547,267},{104,103}}</string>
        <key>offset</key>
        <string>{0.50,0.00}</string>
        <key>sourceSize</key>
        <string>{107.00,107.00}</string>
      </dict>
      <key>GameMove_0030</key>
      <dict>
        <key>frame</key>
        <string>{{817,160},{103,104}}</string>
        <key>offset</key>
        <string>{0.00,0.50}</string>
        <key>sourceSize</key>
        <string>{107.00,107.00}</string>
      </dict>
      <key>GameMove_0031</key>
      <dict>
        <key>frame</key>
        <string>{{1550,14},{23,106}}</string>
        <key>offset</key>
        <string>{-28.00,-0.50}</string>
        <key>sourceSize</key>
        <string>{107.00,107.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.58</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>GameMove.png</string>
      <key>realTextureFileName</key>
      <string>GameMove.png</string>
      <key>textureFileName</key>
      <string>GameMove.png</string>
      <key>size</key>
      <string>{2364,448}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>a1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.02252</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>a3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.49091</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>a7</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.54609</real>
        <key>anchorY</key>
        <real>0.46979</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>shuttlecock</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.45800</real>
        <key>anchorY</key>
        <real>0.04486</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>GameMoveLayer</key>
      <dict>
        <key>type</key>
        <string>jpg</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>url</key>
        <string>GameMove/GameMoveLayer.jpg</string>
      </dict>
      <key>a5</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>-0.01064</real>
        <key>anchorY</key>
        <real>1.01111</real>
        <key>url</key>
        <string>GameMove/a5.png</string>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>Layer</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,1977.95,1272.00</string>
        <key>anchorX</key>
        <real>0.50714</real>
        <key>anchorY</key>
        <real>0.48958</real>
        <key>children</key>
        <dict>
          <key>hero1</key>
          <dict>
            <key>class</key>
            <string>a1</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>285.40,160.60,0.00,1.78448,1.78378,0.00,1,0.00,0.00</string>
          </dict>
          <key>xinshou</key>
          <dict>
            <key>class</key>
            <string>a6</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>989.00,636.00,0.00,1.00000,1.00000,0.70,5,0.00,0.00</string>
          </dict>
          <key>i243925566</key>
          <dict>
            <key>class</key>
            <string>GameMoveLayer</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>43.10,1222.75,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>hero3</key>
          <dict>
            <key>class</key>
            <string>a1</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>1735.80,163.65,0.00,2.00862,2.00856,0.00,3,0.00,0.00</string>
          </dict>
          <key>hero2</key>
          <dict>
            <key>class</key>
            <string>a1</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>988.55,159.40,0.00,1.28448,1.28424,0.00,2,0.00,0.00</string>
          </dict>
          <key>shuttlecock</key>
          <dict>
            <key>class</key>
            <string>shuttlecock</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>961.30,1052.85,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>a6</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,1977.95,1272.00</string>
        <key>anchorX</key>
        <real>0.50001</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i243925603</key>
          <dict>
            <key>class</key>
            <string>a5</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,1272.00,0.00,20.82069,13.97783,1.00,0,0.00,0.00</string>
          </dict>
          <key>text</key>
          <dict>
            <key>class</key>
            <string>test</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>81.35,872.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00,华文琥珀,150,#00FF00,left,1815,472</string>
            <key>text</key>
            <string>当毽子接近司马光时，玩家点击屏幕任意位置，踢出毽子！！</string>
            <key>input</key>
            <false/>
          </dict>
          <key>Tile</key>
          <dict>
            <key>class</key>
            <string>a7</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>1030.55,238.40,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
    <key>fonts</key>
    <dict>
      <key>test</key>
      <dict>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>31</integer>
        <key>size</key>
        <integer>110</integer>
        <key>chars</key>
        <string>当毽子接近司马光时，玩家点击屏幕任意位置踢出做快速反应！</string>
        <key>anchorX</key>
        <real>-0.06542</real>
        <key>anchorY</key>
        <real>1.04673</real>
      </dict>
    </dict>
  </dict>
</plist>